<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <style>
          .table{
            margin : 100px auto;
            width: 1200px;
            text-align: center;
          }
          #defect_icon{
            background-color: var(--first-color);
          }
        </style>
    </head>
    <body>
      <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" style="width: 50px;">번호</th>
              <th scope="col" style="width: 150px;">시간</th>
              <th scope="col" style="width: 100px;">금형온도</th>
              <th scope="col" style="width: 100px;">사출온도</th>
              <th scope="col" style="width: 100px;">사출속도</th>
              <th scope="col" style="width: 100px;">보압</th>
              <th scope="col" style="width: 100px;">사출시간</th>
              <th scope="col" style="width: 100px;">보압시간</th>
              <th scope="col" style="width: 100px;">배압시간</th>
              <th scope="col">결함원인</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i =0; i < defect.length; i++){ %>
              <tr>
                <td><%=defect[i].monitor_id %></td>
                <td><%=defect[i].time %></td>
                <td><%=defect[i].mold_temp %></td>
                <td><%=defect[i].melt_temp %></td>
                <td><%=defect[i].injection_speed %></td>
                <td><%=defect[i].hold_pressure %></td>
                <td><%=defect[i].injection_time %></td>
                <td><%=defect[i].hold_time %></td>
                <td><%=defect[i].filling_time %></td>
                <td><%=defect[i].cause %></td>
              </tr>
            <% } %>
          </tbody>
      </table>
      <script>
        $(function(){
          if ("<%=linkcode%>"==0){
              $("#linkcode").text("관리자")
          }else{
              $("#linkcode").text("작업자")
          }
        })
      </script>
    </body>
</html>