<!DOCTYPE html>
<html>

<head>
  <%- include("./head.ejs") %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

    <!-- datepicker js&css -->
    <script src="/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">

    <style>
      td {
        height: 1vh;
      }

      #defect_icon {
        background-color: var(--first-color);
      }

      .pagination a {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
      }
    </style>

</head>

<body style="background-color: black; overflow-x:hidden;">

  <!--불량품 차트-->
  <div style="position:absolute;left:0vw; top:10vh;">
    <canvas id="pieChart" style="width:35vw;"></canvas>
  </div>

  <!--불량유형 차트-->
  <div style="position:absolute;left:0vw; top:55vh;">
    <canvas id="pieChart1" style="width:35vw;"></canvas>
  </div>
  

  <div class="wrapper_nav" style="position: absolute; top:5vh; left:31vw; width:67.5vw;">
    <div class="font_nav">불량관리</div>
    <div class="input_nav" style="top:2.5vh; left:13vw;" for="inputGroupSelect01">작업 날짜</div>
    <input type="text" class="datepicker wdate text" id="datepicker" name="_date"
      style="top:2.5vh; left:20vw; width:15vw; height:5vh;" value="<%=lastM%>">
    <input type="text" class="datepicker wdate text" id="datepicker2" name="_date"
      style="top:2.5vh; left:35vw; width:15vw; height:5vh;" value="<%=today%>">
    <button class="btn btn-secondary" onclick="search()"
      style="position:absolute; top:2vh; right:9vw">조회</button>
    <button class="btn btn-secondary" onclick="reset()" style="position:absolute; top:2vh; right:1vw">검색초기화</button>
  </div>
  <div class="tableb" style="width:67.5vw; left:31vw; top:16vh;">
    <table class="table table-bordered" style="width:67.5vw;">
      <thead class="thead" style="width:67.5vw;">
        <tr>
          <th scope="col" style="width: 18vw;">시간</th>
          <th scope="col" style="width: 8vw;">용융온도</th>
          <th scope="col" style="width: 8vw;">금형온도</th>
          <th scope="col" style="width: 8vw;">사출속도</th>
          <th scope="col" style="width: 8vw;">보압</th>
          <th scope="col" style="width: 17.5vw">불량 유형</th>
        </tr>
      </thead>
      <tbody id="tbody2">
        <% for(var i=0; i < defect.length; i++){ %>
          <tr>
            <td>
              <%=defect[i].date %>
            </td>
            <td>
              <%=defect[i].melt %>
            </td>
            <td>
              <%=defect[i].mold %>
            </td>
            <td>
              <%=defect[i].injection %>
            </td>
            <td>
              <%=defect[i].hold %>
            </td>
            <td>
              <%=defect[i].cause %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example" >
    <ul class="pagination justify-content-center" style="page-break-inside: avoid; position:absolute; bottom:-8vh; left: 55%; width:4.6vw; 
    height:5.6vh;">
    </ul>
  </nav>

  <script>
    var dataset0 = {
      label: "불량율",
      backgroundColor: ['royalblue', 'tomato',],//라벨별 컬러설정 
      borderColor: 'white', data: ["<%=Y%>", "<%=N%>"]
    }
    var labels0 = ['양품', '불량품'];
    var datasets0 = { datasets: [dataset0], labels: labels0 }

    var config0 = {
      type: 'pie', data: datasets0, //데이터 셋 
      options: {
        responsive: true,
        maintainAspectRatio: false, //true 하게 되면 캔버스 width,height에 따라 리사이징된다. 
        legend: {
          position: 'bottom',
          fontColor: 'white',
          align: 'center',
          display: true,
          fullWidth: true,
          labels: { fontColor: 'white' }
        },
        plugins: {
          labels: {   //두번째 script태그를 설정하면 각 항목에다가 원하는 데이터 라벨링을 할 수 있다. 
            render: 'value%',
            fontColor: 'white',
            fontSize: 17,
            precision: 2
          }
        }
      }
    }
    var canvas0 = document.getElementById('pieChart');
    var pieChart0 = new Chart(canvas0, config0);

    var dataset1 = {
      label: "불량유형",
      backgroundColor: ['olive', 'slateblue', 'orange'],//라벨별 컬러설정 
      borderColor: 'white', data: ["<%=crack%>", "<%=color%>", "<%=size%>" ]
    }
    var labels1 = ['크랙', '색 불량', '치수 불량'];
    var datasets1 = { datasets: [dataset1], labels: labels1 }

    var config1 = {
      type: 'pie', data: datasets1, //데이터 셋 
      options: {
        responsive: true,
        maintainAspectRatio: false, //true 하게 되면 캔버스 width,height에 따라 리사이징된다. 
        legend: {
          position: 'bottom',
          fontColor: 'white',
          align: 'center',
          display: true,
          fullWidth: true,
          labels: { fontColor: 'white' }
        },
        plugins: {
          labels: {   //두번째 script태그를 설정하면 각 항목에다가 원하는 데이터 라벨링을 할 수 있다. 
            render: 'value%',
            fontColor: 'white',
            fontSize: 17,
            precision: 2
          }
        }
      }
    }
    var canvas1 = document.getElementById('pieChart1');
    var pieChart1 = new Chart(canvas1, config1);
    $(function () {
      if ("<%=linkcode%>" == 0) {
        $("#linkcode").text("관리자")
      } else {
        $("#linkcode").text("작업자")
      }
      for (var i=0; i<$("tbody tr").length; i++){
        for (var j=0; j<$("tbody tr:eq(0)>td").length; j++){
          var t = $("tbody tr:eq("+i+")>td:eq("+j+")").html().trim()
          if(j==0 || j==5){
            $("tbody tr:eq("+i+")>td:eq("+j+")").html(t)
            continue
          }
          if(t.charAt(t.length-1)=="x"){
            $("tbody tr:eq("+i+")>td:eq("+j+")").css("background-color","red")
          }
          $("tbody tr:eq("+i+")>td:eq("+j+")").html(t.slice(0,-1))
        }
      }
    })

    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
      changeMonth: true,
      changeYear: true,
      nextText: '다음달',
      prevText: '이전달',
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true
    }); 

    function search() {
      $("tbody").html("");
      $.getJSON("/defect/search", {
        date : $("#datepicker").val(),
        date2 : $("#datepicker2").val()
      },
        function (result) {
          var body;
          for (var i = 0; i < result.defect.length; i++) {
            body += "<tr>"
            var c = 0
            for (key in result.defect[0]) {
              if(key=="defect_id" || key=="monitor_id"){
                continue
              }
              c += 1
              if(key=="date" || key=="cause"){
                body += "<td>" + result.defect[i][key] + "</td>"
                continue
              }
              if(result.defect[i][key].charAt(result.defect[i][key].length-1)=="x"){
                body += `<td style="background-color:red">` + result.defect[i][key].slice(0,-1) + "</td>"
              }else{
                body += "<td>" + result.defect[i][key].slice(0,-1) + "</td>"
              }
              
            }
            body += "</tr>"
          }
          $("tbody").html(body)
          $(".pagination").html("")
          pagination()
          if (result.count.nn==null){
            result.count.nn=0
          }
          if (result.count.yy==null){
            result.count.yy=0
          }
          config0.data.datasets[0].data = [result.count.yy, result.count.nn]
          pieChart0.update();

          config1.data.datasets[0].data = [result.count.crack, result.count.color, result.count.size]
          pieChart1.update();
        })
    }
    function reset(){
      $("#tbody").html("")
      $.getJSON("/defect/reset",
      function(result){ 
        var body;
        for (var i = 0; i < result.defect.length; i++) {
          body += "<tr>"
          var c = 0
          for (key in result.defect[0]) {
            if(key=="defect_id" || key=="monitor_id"){
              continue
            }
            c += 1
            if(key=="date" || key=="cause"){
              body += "<td>" + result.defect[i][key] + "</td>"
              continue
            }
            if(result.defect[i][key].charAt(result.defect[i][key].length-1)=="x"){
              body += `<td style="background-color:red">` + result.defect[i][key].slice(0,-1) + "</td>"
            }else{
              body += "<td>" + result.defect[i][key].slice(0,-1) + "</td>"
            }
          }
          body += "</tr>"
        }
        $("#tbody2").html(body)
        $("#datepicker").val(result.lastM)
        $("#datepicker2").val(result.today)
        $(".pagination").html("")
        pagination()

        config0.data.datasets[0].data = [result.count.yy, result.count.nn]
        pieChart0.update();

        config1.data.datasets[0].data = [result.count.crack, result.count.color, result.count.size]
        pieChart1.update();
      })
    }
    if ("<%=run%>"=="true"){
      reset()
      var yy = parseInt(config0.data.datasets[0].data[0])
      var nn = parseInt(config0.data.datasets[0].data[1])
      var crack = parseInt(config1.data.datasets[0].data[0])
      var color = parseInt(config1.data.datasets[0].data[1])
      var size = parseInt(config1.data.datasets[0].data[2])
      setInterval(function () {
        $.getJSON("/defect/ajax",
          function (result) {
            if(result.defect){
              if (result.count.cnt>=result.count.total){
                location.href="/stop?url=defect"
              }
              if($("tbody tr:eq(0)>td:eq(0)").html().trim()!=result.defect.date){
                var body="<tr>"
                  for (key in result.defect) {
                    if(key=="defect_id" || key=="monitor_id"){
                      continue
                    }
                    if(key=="date" || key=="cause"){
                      body += "<td>" + result.defect[key] + "</td>"
                      continue
                    }
                    if(result.defect[key].charAt(result.defect[key].length-1)=="x"){
                      body += `<td style="background-color:red">` + result.defect[key].slice(0,-1) + "</td>"
                    }else{
                      body += "<td>" + result.defect[key].slice(0,-1) + "</td>"
                    }
                  }
                body+="</tr>"
                $("tbody").prepend(body)
                $(".pagination").html("")
                pagination()
              }
            }
            if (result.count.nn==null){
              result.count.nn=0
            }
            if (result.count.yy==null){
              result.count.yy=0
            }
            config0.data.datasets[0].data[0] = yy + result.count.yy
            config0.data.datasets[0].data[1] = nn + result.count.nn
            pieChart0.update();

            config1.data.datasets[0].data[0] = crack + result.count.crack
            config1.data.datasets[0].data[1] = color + result.count.color
            config1.data.datasets[0].data[2] = size + result.count.size
            pieChart1.update();
          }
        )
      }, 2000)
    }

    //페이징
    function pagination(){
		var req_num_row=10;
		var $tr=jQuery('#tbody2 tr');
		var total_num_row=$tr.length;
		var num_pages=0;
		if(total_num_row % req_num_row ==0){
			num_pages=total_num_row / req_num_row;
		}
		if(total_num_row % req_num_row >=1){
			num_pages=total_num_row / req_num_row;
			num_pages++;
			num_pages=Math.floor(num_pages++);
		}
  
        jQuery('.pagination').append("<li class='page-item prev'><a class='page-link'>&laquo;</a></li>");
  
		for(var i=1; i<=num_pages; i++){
			jQuery('.pagination').append("<li class='page-item'><a class='page-link'>"+i+"</a></li>");
            jQuery('.pagination li:nth-child(2)').addClass("active");
            jQuery('.pagination a').addClass("pagination-link");
		}
  
        jQuery('.pagination').append("<li class='page-item next'><a class='page-link'>&raquo;</a></li>");
  
		$tr.each(function(i){
        jQuery(this).hide();
        if(i+1 <= req_num_row){
				$tr.eq(i).show();
			}
		});
  
		jQuery('.pagination a').click('.pagination-link', function(e){
			e.preventDefault();
			$tr.hide();
			var page=jQuery(this).text();
			var temp=page-1;
			var start=temp*req_num_row;
            var current_link = temp;
      
            jQuery('.pagination li').removeClass("active");
			jQuery(this).parent().addClass("active");
    
			for(var i=0; i< req_num_row; i++){
				$tr.eq(start+i).show();
			}
      
        if(temp >= 1){
        jQuery('.pagination li:first-child').removeClass("disabled");
        }
        else {
        jQuery('.pagination li:first-child').addClass("disabled");
        }            
		});
  
        jQuery('.prev').click(function(e){
          e.preventDefault();
          jQuery('.pagination li').removeClass("active");
          jQuery('.pagination li:first-child').next().addClass("active");
          $tr.hide();

          var page=jQuery(this).next().text();
          var temp=page-1;
          var start=temp*req_num_row;
                var current_link = temp;
        
          for(var i=0; i< req_num_row; i++){
            $tr.eq(start+i).show();
          }
        });

        jQuery('.next').click(function(e){
          e.preventDefault();
          jQuery('.pagination li').removeClass("active");
          jQuery('.pagination li:last-child').prev().addClass("active");
          
          $tr.hide();

          var page=jQuery(this).prev().text();
          var temp=page-1;
          var start=temp*req_num_row;
                var current_link = temp;
        
          for(var i=0; i< req_num_row; i++){
            $tr.eq(start+i).show();
          }
        });

	    }

        jQuery('document').ready(function(){
	    pagination();
  
        jQuery('.pagination li:first-child').addClass("disabled");
  

        });
  </script>
</body>

</html>