<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <link rel = "stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src = "http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
        <style>
        
          .table{
            width:89vw;
            text-align: center;
            background-color: rgb(173, 185, 202);
          }
          .input-group{
            width: 40vw;
            text-align: center;
            background-color: rgb(173, 185, 202);
          } 
          .wrapper{
            height:30vh;
            width:89vw;
            background-color: rgba(199, 202, 241, 0.308);;
          }
          #instruct_icon{
            background-color: var(--first-color);
          }
          .input-group-text{
            border-radius:0;
            width: 20vw;
          }
          .form-control{
            border-radius: 0;
          }
          #instruct_icon{
              background-color: var(--first-color);
          }
          
        </style>
    </head>

    <body style="background-color: rgb(41, 48, 63);">
      <form action="/instruct" method="POST">
        <div class="wrapper" style="position: absolute; left:8.5vw">
          <div class="input-group mb-3" style="position: absolute; left:3vw; top:4vh">
            <span class="input-group-text" id="inputGroup-sizing-default">담당자</span>
            <input type="text" class="form-control" placeholder="담당자" id = "manager" name="_manager">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:46vw; top:4vh">
            <span class="input-group-text" id="inputGroup-sizing-default">지시 수량</span>
            <input type="text" class="form-control" placeholder="지시 수량" id = "quantity" name="_quantity">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:3vw; top:14vh">
            <label class="input-group-text" for="inputGroupSelect01">품목 번호</label>
            <select class="form-select" id="inputGroupSelect01" name ="_id">
              <option value="bricks_rect">bricks_rect</option>
              <option value="bricks_square">bricks_square</option>
              <option value="circle">circle</option>
              <option value="floor">floor</option>
            </select>
          </div>
          <div class="input-group mb-3" style="position: absolute; left:46vw; top:14vh">
            <label class="input-group-text" for="inputGroupSelect01">작업 날짜</label>
            <input type = "text" id = "testDatepicker" name="_date" value="<%= date %> ">
          </div>
          <div align="center">
            <button type="submit" class="btn btn-dark" style="position:absolute; bottom: 1vw; right: 2.7vw;" id = "register" disabled>등록</button>
          </div>
        </div>
        
      </form>
      
      <div style="position: absolute; top:36vh; left:8.5vw; color:white; text-align: center;">
        <table>
          <thead style="background-color: rgba(199, 202, 241, 0.308); height:4vh;">
            <tr>
              <th scope="col" style="width: 17vw;">작업지시번호</th>
              <th scope="col" style="width: 17vw;">품목명</th>
              <th scope="col" style="width: 10vw;">지시 수량</th>
              <th scope="col" style="width: 30vw;">작업 날짜</th>
              <th scope="col" style="width: 15vw;">상태</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < ordert.length; i++) {%>
              <tr>
                <td><%=ordert[i].order_id%></td>
                <td><%=ordert[i].lego_id%></td>
                <td><%=ordert[i].quantity%></td>
                <td><%=ordert[i].date%></td>
                <td>진행중</td>
              </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      
      <script>
        $(function(){
          $("#testDatepicker").datepicker({
            showButtonPanel : true,
            currentText : '오늘 날짜',
            closeText: '닫기',
            dateFormat : "yy-mm-dd",
            monthNames : ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            monthNamesShort : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            dayNames : ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '이유일'],
            dayNamesMin : ['월','화','수','목','금','토','일'],
            changeMonth : true,
            changeYear : true,
            nextText : '다음달',
            prevText : '이전달'
            
          });
          if ("<%=linkcode%>"==0){
              $("#linkcode").text("관리자")
          }else{
              $("#linkcode").text("작업자")
          }
        });

        $("input").keyup(function(){
          var manager = $("#manager").val();
          var quantity = $("#quantity").val();
          var date = $("#testDatepicker").val();
          
          if(manager && quantity && date){    
              $("#register").removeAttr("disabled")
          }else{
              $("#register").attr("disabled", "disabled")
            }
        })
      </script>
    </body>
</html>
