<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <link rel = "stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src = "http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
        <style>
        
          .table{
            margin : 100px auto;
            width: 80%;
            text-align: center;
            background-color: rgb(173, 185, 202);
          }
          .input-group{
            margin : 10px auto;
            margin-top: 10px;
            width: 50%;
            text-align: center;
            background-color: rgb(173, 185, 202);
          }
          
        </style>
    </head>

    <body>
      <form action="/instruct" method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">담당자</span>
          <input type="text" class="form-control" placeholder="담당자" name="_manager">
          <span class="input-group-text" id="inputGroup-sizing-default">지시 수량</span>
          <input type="text" class="form-control" placeholder="지시 수량" name="_quantity">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">품목 번호</label>
          <select class="form-select" id="inputGroupSelect01" name ="_id">
            <option value="bricks_rect">bricks_rect</option>
            <option value="bricks_square">bricks_square</option>
            <option value="circle">circle</option>
            <option value="floor">floor</option>
          </select>
          <label class="input-group-text" for="inputGroupSelect01">작업 날짜</label>
          <input type = "text" id = "testDatepicker" name="_date">

        </div>
        <div align="center">
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </form>
      
      
      <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" style="width: 100px;">작업지시번호</th>
              <th scope="col" style="width: 100px;">품목명</th>
              <th scope="col" style="width: 100px;">지시 수량</th>
              <th scope="col" style="width: 100px;">작업 날짜</th>
              <th scope="col" style="width: 100px;">상태</th>
              
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i < ordert.length; i++) {%>
              <tr>
                <td><%=ordert[i].order_id%></td>
                <td><%=ordert[i].lego_id%></td>
                <td><%=ordert[i].quantity%></td>
                <td><%=ordert[i].date%></td>
                <td>진행중</td>
              </tr>
            <%}%>
          </tbody>
          
      </table>
      <script>
        $(function(){
          $("#testDatepicker").datepicker({
            showButtonPanel : true,
            currentText : '오늘 날짜',
            closeText: '닫기',
            dateFormat : "yy-mm-dd",
            monthNames : ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            monthNamesShort : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            dayNames : ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '이유일'],
            dayNamesMin : ['월','화','수','목','금','토','일'],
            changeMonth : true,
            changeYear : true,
            nextText : '다음달',
            prevText : '이전달'
            
          });
        });
        
      </script>
    </body>
</html>
