<!DOCTYPE html>
<html>

<head>
  <%- include("./head.ejs") %>
    <style>
      #instruct_icon {
        background-color: var(--first-color);
      }

      .page-item.active .page-link {
        z-index: 3;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(0, 255, 191, 0.5);
      }

      .pagination1 a {
        left: 8vw;
        top: 45vh;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
      }

      .pagination2 a {
        left: 3vw;
        top: 20vh;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
      }

      .page-link {
        left: 7vw;
        top: 85vh;
        position: relative;
        display: block;
        color: white;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0);
        border: 0.2vw solid rgba(0, 255, 191, 0.5);
        border-radius: 5px;
      }

      .page-item.disabled .page-link {
        color: white;
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(0, 255, 191, 0.5);
      }

      .page-link:hover {
        z-index: 2;
        color: rgba(0, 255, 191, 0.4);
        background-color: rgba(0, 255, 213, 0.3);
        border-color: rgb(0, 255, 191);
      }
    </style>
</head>

<body style="background-color: black; overflow-y:hidden; overflow-x: hidden;">
  <!-- <div class="wrapper_nav" style="position: absolute; top:5vh; left:6vw;">
    <div div class="font_nav">작업지시관리</div> -->

  <div class="wrapper_nav" style="position: absolute; top:5vh; left:7vw;">
    <div class="font_nav">작업지시·수주조회</div>

    <div class="input_nav" style="top:2.5vh; left:15vw;" for="inputGroupSelect01">작업일</div>
    <input type="text" class="datepicker text" id="_date" value="<%=date%>"
      style="top:2.5vh; left:22.1vw; width:15vw; height:5vh;">

    <div class="input_nav" style="top:2.5vh; left:39vw;">거래처</div>
    <select class="form-select text select" id="cust" style="top:2.5vh; left:46.1vw;">
      <option value=""></option>
      <option value="삼성전자">삼성전자</option>
      <option value="LG전자">LG전자</option>
      <option value="카카오">카카오</option>
      <option value="네이버">네이버</option>
    </select>

    <div class="input_nav" style="top:2.5vh; left:63vw;">품목명</div>
    <select class="form-select text select" id="product_i" style="top:2.5vh; left:70.1vw;">
      <option value=""></option>
      <option value="bricks_rect">bricks_rect</option>
      <option value="bricks_square">bricks_square</option>
      <option value="circle">circle</option>
      <option value="floor">floor</option>
    </select>
    <button class="btn btn-outline-secondary" onclick="search()"
      style="position:absolute; bottom:3vh; right:1.5vw">조회</button>
  </div>


  <!-- 수주 조회 테이블 -->
  <div class="text" style="color:white; font-size:1.5vw; width:88vw; top:25vh; left:-37vw;">수</div>
  <div class="text" style="color:white;font-size:1.5vw; width:88vw; top:32vh; left:-37vw;">주</div>
  <div class="text" style="color:white;font-size:1.5vw; width:88vw; top:40vh; left:-37vw;">조</div>
  <div class="text" style="color:white;font-size:1.5vw; width:88vw; top:48vh; left:-37vw;">회</div>

  <div class="tableb" style="top:17vh; left:10.3vw;">
    <table id="iTable" class="table table-bordered" style="width:88vw;">
      <thead class="thead" style="width:88vw;">
        <tr>
          <th scope="col" style="width: 4vw;"></th>
          <th scope="col" style="width: 8vw;">수주번호</th>
          <th scope="col" style="width: 14vw;">거래처</th>
          <th scope="col" style="width: 10vw;">품목명</th>
          <th scope="col" style="width: 8vw;">지시수량</th>
          <th scope="col" style="width: 18vw;">주문일</th>
          <th scope="col" style="width: 18vw;">납기일</th>
          <th scope="col" style="width: 8vw;">담당자</th>
        </tr>
      </thead>
      <tbody id="tbody1">
        <% for(var i=0; i < orders.length; i++) {%>
          <tr>
            <td><input type="radio" class="rad form-check-input" name="select_radio" value="<%=orders[i].orders_id%>">
            </td>
            <td>
              <%=orders[i].orders_id%>
            </td>
            <td>
              <%=orders[i].cust_name%>
            </td>
            <td>
              <%=orders[i].lego_name%>
            </td>
            <td>
              <%=orders[i].orders_qty%>
            </td>
            <td>
              <%=orders[i].orders_date%>
            </td>
            <td>
              <%=orders[i].delivery_date%>
            </td>
            <td>
              <%=orders[i].cid%>
            </td>
          </tr>
          <%}%>
      </tbody>
    </table>

  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination1" style="page-break-inside: avoid; position:absolute; bottom:-5vh; left: 40%; width:4.6vw; 
    height:5.6vh;">
    </ul>
  </nav>

  <button class="btn btn-outline-light modal_btn" id="selectBtn"
    style="position:absolute; top: 50vh; right: 8vw;">등록</button>
  <button class="btn btn-outline-danger" style="position:absolute; top: 50vh; right:3vw;" onclick="del()">삭제</button>

  <!--모달-->
  <div class="black_bg"></div>
  <div class="modal_wrap modal_name" style="height:5vh; top: 20vh; background-color: rgb(151, 161, 170);">등록</div>
  <div class="modal_wrap" style="height:330px;">
    <div class="modal_box1" style="top:5vh">수주 번호</div>
    <input type="text" class="modal_box2" style="top:5vh" id="orders_id">
    <div class="modal_box1" style="top:11.4vh">품목 명</div>
    <select class="modal_box2" style="top:11.4vh" id="lego_name">
      <option value="bricks_rect">bricks_rect</option>
      <option value="bricks_square">bricks_square</option>
      <option value="circle">circle</option>
      <option value="floor">floor</option>
    </select>
    <div class="modal_box1" style="top:17.8vh">지시 수량</div>
    <input type="text" class="modal_box2" style="top:17.8vh" id="quantity">
    <div class="modal_box1" style="top:24.2vh">작업일</div>
    <input type="text" class="modal_box2 datepicker" style="top:24.2vh" id="delivery">
    <div class="modal_box1" style="top:30.6vh">담당자</div>
    <input type="text" class="modal_box2" style="top:30.6vh" id="manager">
    <div align="center">
      <button class="btn btn-secondary" id="modal_register" style="position:absolute; bottom: 2vh; left: 9vw; width:4.6vw; 
      height:5.6vh; font-size:large; line-height: 4vh;">등록</button>
      <button class="btn btn-secondary modal_close" style="position:absolute; bottom: 2vh; right: 9vw;
      width:4.6vw; height:5.6vh; display:inline-block; text-indent: 0px; line-height: 4vh; font-size:large">취소</button>
    </div>
  </div>



  <!-- 작업지시 테이블 -->
  <div class="text" style="color:white; font-size:1.5vw; width:88vw; top:65vh; left:-37vw;">작</div>
  <div class="text" style="color:white; font-size:1.5vw; width:88vw; top:72vh; left:-37vw;">업</div>
  <div class="text" style="color:white; font-size:1.5vw; width:88vw; top:80vh; left:-37vw;">지</div>
  <div class="text" style="color:white; font-size:1.5vw; width:88vw; top:88vh; left:-37vw;">시</div>

  <div class="tableb" style="top:57vh; left:10.3vw;">
    <table class="table table-bordered" style="width:88vw;">
      <thead class="thead" style="width:88vw;">
        <tr>
          <th scope="col" style="width: 2vw;"><input type="checkbox" id="checkAll" name="_selected_all_"></th>
          <th scope="col" style="width: 10vw;">작업지시번호</th>
          <th scope="col" style="width: 10vw;">수주번호</th>
          <th scope="col" style="width: 10vw;">품목명</th>
          <th scope="col" style="width: 10vw;">지시 수량</th>
          <th scope="col" style="width: 18vw;">주문일</th>
          <th scope="col" style="width: 18vw;">생산량</th>
          <th scope="col" style="width: 10vw;">상태</th>
        </tr>
      </thead>
      <tbody id="tbody2">
        <% for(var i=0; i < ordert.length; i++) {%>
          <tr>
            <td><input type="checkbox" id="del_row" class="chk" name="_selected_" value="<%=ordert[i].orders_id%>"></td>
            <td>
              <%=ordert[i].order_id%>
            </td>
            <td>
              <%=ordert[i].orders_id%>
            </td>
            <td>
              <%=ordert[i].lego_name%>
            </td>
            <td>
              <%=ordert[i].quantity%>
            </td>
            <td>
              <%=ordert[i].date%>
            </td>
            <td>0</td>
            <td>대기</td>
          </tr>
          <%}%>
      </tbody>
    </table>

  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination2" style="page-break-inside: avoid; position:absolute; bottom:-5vh; left: 40%; width:4.6vw; 
    height:5.6vh;">
    </ul>
  </nav>


  <script>
    $(function () {
      if ("<%=linkcode%>" == 0) {
        $("#linkcode").text("관리자")
      } else {
        $("#linkcode").text("작업자")
      }
      var len = $("#tbody2 tr").length
      var cnt = parseInt("<%=cnt%>")
      var total = "<%=total%>"
      for (var i = 0; i < len; i++) {
        qty = parseInt($("#tbody2 tr:eq(" + i + ")>td:eq(4)").html())
        if (cnt >= qty) {
          $("#tbody2 tr:eq(" + i + ")>td:eq(6)").html(qty)
          $("#tbody2 tr:eq(" + i + ")>td:eq(7)").html("완료")
          cnt -= qty
        } else if (cnt == 0) {
          $("#tbody2 tr:eq(" + i + ")>td:eq(6)").html(cnt)
          $("#tbody2 tr:eq(" + i + ")>td:eq(7)").html("대기")
        }
        else {
          $("#tbody2 tr:eq(" + i + ")>td:eq(6)").html(cnt)
          $("#tbody2 tr:eq(" + i + ")>td:eq(7)").html("진행")
          cnt = 0
        }
      }
    });
    if ("<%=run%>" == "true") {
      setInterval(function () {
        $.getJSON("/instruct/update",
          function (result) {
            var cnt = result.cnt
            var total = result.total
            var len = $("#tbody2 tr").length
            if (cnt >= total) {
              location.href = "/stop?url=instruct"
            }
            for (var i = 0; i < len; i++) {
              qty = parseInt($("#tbody2 tr:eq(" + i + ")>td:eq(4)").html())
              if ($("#tbody2 tr:eq(" + i + ")>td:eq(7)").html() == "완료") {
                cnt -= qty
                continue
              }
              if (cnt >= qty) {
                $("#tbody2 tr:eq(" + i + ")>td:eq(6)").html(qty)
                $("#tbody2 tr:eq(" + i + ")>td:eq(7)").html("완료")
                cnt -= qty
              } else if (cnt == 0) {
                $("#tbody2 tr:eq(" + i + ")>td:eq(6)").html(cnt)
                $("#tbody2 tr:eq(" + i + ")>td:eq(7)").html("대기")
              }
              else {
                $("#tbody2 tr:eq(" + i + ")>td:eq(6)").html(cnt)
                $("#tbody2 tr:eq(" + i + ")>td:eq(7)").html("진행")
                cnt = 0
              }
            }
          })
      }, 1000)
    }
    //등록
    $("#modal_register").click(function () {
      var o = $("#orders_id").val()
      var m = $("#manager").val()
      var q = $("#quantity").val()
      var n = $("#lego_name").val()
      var d = $("#delivery").val()
      location.href = "/instruct/register?mg=" + m + "&qty=" + q + "&name=" + n + "&date=" + d + "&id=" + o
    })

    // 작업지시 삭제
    function del() {
      var checkBoxArr = [];
      if ($("input[name='_selected_all_']:checked").length == 1
        && $("input:checkbox[name='_selected_']:checked").length == 0) {
        alert("삭제불가능");
      } else {
        $("input:checkbox[name='_selected_']:checked").each(function () {
          checkBoxArr.push($(this).val()); //체크된 값 뽑아서 push
        })
        if (confirm("삭제 하시겠습니까?")) {
          alert("삭제되었습니다.");
          location.href = "/instruct/del?_id=" + checkBoxArr
        }
      }
    }

    // 전체선택 버튼 클릭시 체크박스 전체 선택
    $("#checkAll").click(function () {
      if ($("#checkAll").is(":checked")) {
        $(".chk").prop("checked", true);
      } else {
        $(".chk").prop("checked", false);
      }
    })
    // 전체선택 중 한개의 체크박스 선택 해제 시 체크박스 해제
    $(".chk").click(function () {
      if ($("input[name='_selected_']:checked").length == iTable.rows.length) {
        $("#checkAll").prop("checked", true);
      } else {
        $("#checkAll").prop("checked", false);
      }
    });
    function search() {
      $("#tbody1").html("");
      $.getJSON("/instruct/search", {
        _cust: $("#cust").val(),
        _search_i: $("#product_i").val(),
        _date: $("#_date").val()
      },
        function (result) {
          var body;
          for (var i = 0; i < result.instruct.length; i++) {
            body += `<tr>
            <td><input type="radio" class="rad form-check-input"  
              name="select_radio" value="<%=`+ result.instruct.orders_id + `[i].orders_id%>"></td>
              `
            for (key in result.instruct[0]) {
              body += "<td>" + result.instruct[i][key] + "</td>"
            }
            body += "</tr>"
          }
          $("#tbody1").html(body)
          $(".pagination1").html("")
          pagination()
        })

    }

    $(".modal_btn").click(function () {
      $(".modal_wrap").css("display", "block")
      $(".black_bg").css("display", "block")
    })

    $(".modal_close").click(function () {
      $(".modal_wrap").css("display", "none")
      $(".black_bg").css("display", "none")
    })
    //달력(날짜 1개 선택)
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
      changeMonth: true,
      changeYear: true,
      nextText: '다음달',
      prevText: '이전달',
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true
    });
    $('.datepicker').datepicker('setDate', 'today');
    // $(".modal_input").keyup(function () {
    //   var manager = $("#manager").val();
    //   var quantity = $("#quantity").val();
    //   var cust = $("#orders_id").val()
    //   if (manager && quantity && cust) {
    //     $("#modal_register").removeAttr("disabled")
    //   } else {
    //     $("#modal_register").attr("disabled", "disabled")
    //   }
    // })

    $("#selectBtn").click(function () {
      var radio = $("input[name= select_radio]:checked");
      var tr = radio.parent().parent().eq(0);
      var td = tr.children();
      var orders_id = td.eq(1).text()
      var lego_name = td.eq(3).text();
      var orders_qty = td.eq(4).text();
      var cid = td.eq(7).text();

      $("#orders_id").val(orders_id)
      $("#lego_name").val(lego_name).prop("selected", true)
      // $("#lego_name").val(lego_name.options[lego_name.selectedindex].text)
      $("#quantity").val(orders_qty)
      $("#manager").val(cid)

    })
    //수주조회 페이징
    function pagination() {
      var req_num_row = 4;
      var $tr = jQuery('#tbody1 tr');
      var total_num_row = $tr.length;
      var num_pages = 0;
      if (total_num_row % req_num_row == 0) {
        num_pages = total_num_row / req_num_row;
      }
      if (total_num_row % req_num_row >= 1) {
        num_pages = total_num_row / req_num_row;
        num_pages++;
        num_pages = Math.floor(num_pages++);
      }

      jQuery('.pagination1').append("<li class='page-item prev'><a class='page-link'>&laquo;</a></li>");

      for (var i = 1; i <= num_pages; i++) {
        jQuery('.pagination1').append("<li class='page-item'><a class='page-link'>" + i + "</a></li>");
        jQuery('.pagination1 li:nth-child(2)').addClass("active");
        jQuery('.pagination1 a').addClass("pagination1-link");
      }

      jQuery('.pagination1').append("<li class='page-item next'><a class='page-link'>&raquo;</a></li>");

      $tr.each(function (i) {
        jQuery(this).hide();
        if (i + 1 <= req_num_row) {
          $tr.eq(i).show();
        }
      });

      jQuery('.pagination1 a').click('.pagination1-link', function (e) {
        e.preventDefault();
        $tr.hide();
        var page = jQuery(this).text();
        var temp = page - 1;
        var start = temp * req_num_row;
        var current_link = temp;

        jQuery('.pagination1 li').removeClass("active");
        jQuery(this).parent().addClass("active");

        for (var i = 0; i < req_num_row; i++) {
          $tr.eq(start + i).show();
        }

        if (temp >= 1) {
          jQuery('.pagination1 li:first-child').removeClass("disabled");
        }
        else {
          jQuery('.pagination1 li:first-child').addClass("disabled");
        }
      });

      jQuery('.prev').click(function (e) {
        e.preventDefault();
        jQuery('.pagination1 li').removeClass("active");
        jQuery('.pagination1 li:first-child').next().addClass("active");
        $tr.hide();

        var page = jQuery(this).next().text();
        var temp = page - 1;
        var start = temp * req_num_row;
        var current_link = temp;

        for (var i = 0; i < req_num_row; i++) {
          $tr.eq(start + i).show();
        }
      });

      jQuery('.next').click(function (e) {
        e.preventDefault();
        jQuery('.pagination1 li').removeClass("active");
        jQuery('.pagination1 li:last-child').prev().addClass("active");

        $tr.hide();

        var page = jQuery(this).prev().text();
        var temp = page - 1;
        var start = temp * req_num_row;
        var current_link = temp;

        for (var i = 0; i < req_num_row; i++) {
          $tr.eq(start + i).show();
        }
      });

    }

    jQuery('document').ready(function () {
      pagination();

      jQuery('.pagination1 li:first-child').addClass("disabled");


    });

    //작업지페이징
    function pagination2() {
      var req_num_row = 4;
      var $tr = jQuery('#tbody2 tr');
      var total_num_row = $tr.length;
      var num_pages = 0;
      if (total_num_row % req_num_row == 0) {
        num_pages = total_num_row / req_num_row;
      }
      if (total_num_row % req_num_row >= 1) {
        num_pages = total_num_row / req_num_row;
        num_pages++;
        num_pages = Math.floor(num_pages++);
      }

      jQuery('.pagination2').append("<li class='page-item prev2'><a class='page-link'>&laquo;</a></li>");

      for (var i = 1; i <= num_pages; i++) {
        jQuery('.pagination2').append("<li class='page-item'><a class='page-link'>" + i + "</a></li>");
        jQuery('.pagination2 li:nth-child(2)').addClass("active");
        jQuery('.pagination2 a').addClass("pagination2-link");
      }

      jQuery('.pagination2').append("<li class='page-item next2'><a class='page-link'>&raquo;</a></li>");

      $tr.each(function (i) {
        jQuery(this).hide();
        if (i + 1 <= req_num_row) {
          $tr.eq(i).show();
        }
      });

      jQuery('.pagination2 a').click('.pagination2-link', function (e) {
        e.preventDefault();
        $tr.hide();
        var page = jQuery(this).text();
        var temp = page - 1;
        var start = temp * req_num_row;
        var current_link = temp;

        jQuery('.pagination2 li').removeClass("active");
        jQuery(this).parent().addClass("active");

        for (var i = 0; i < req_num_row; i++) {
          $tr.eq(start + i).show();
        }

        if (temp >= 1) {
          jQuery('.pagination2 li:first-child').removeClass("disabled");
        }
        else {
          jQuery('.pagination2 li:first-child').addClass("disabled");
        }
      });

      jQuery('.prev2').click(function (e) {
        e.preventDefault();
        jQuery('.pagination2 li').removeClass("active");
        jQuery('.pagination2 li:first-child').next().addClass("active");
        $tr.hide();

        var page = jQuery(this).next().text();
        var temp = page - 1;
        var start = temp * req_num_row;
        var current_link = temp;

        for (var i = 0; i < req_num_row; i++) {
          $tr.eq(start + i).show();
        }
      });

      jQuery('.next2').click(function (e) {
        e.preventDefault();
        jQuery('.pagination2 li').removeClass("active");
        jQuery('.pagination2 li:last-child').prev().addClass("active");

        $tr.hide();

        var page = jQuery(this).prev().text();
        var temp = page - 1;
        var start = temp * req_num_row;
        var current_link = temp;

        for (var i = 0; i < req_num_row; i++) {
          $tr.eq(start + i).show();
        }
      });

    }

    jQuery('document').ready(function () {
      pagination2();

      jQuery('.pagination2 li:first-child').addClass("disabled");


    });
  </script>
</body>

</html>