<!DOCTYPE html>
<html>

<head>
  <%- include("./head.ejs") %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">

    <style>
      .table {
        width: 92.5vw;
        text-align: center;
        background-color: rgb(173, 185, 202);
      }
    
      #instruct_icon {
        background-color: var(--first-color);
      }
   

    </style>
</head>

<body style="background-color: rgb(41, 43, 48); overflow-y:hidden">
  <div class="wrapper_nav" style="position: absolute; top:5vh; left:6vw;">
    <div class="font_nav">작업지시·수주관리</div>

    <div class="input_nav" style="top:2.5vh; left:30vw;" for="inputGroupSelect01">작업일</div>
    <input type="text" class="datepicker wdate text" id="date" 
      style="top:2.5vh; left:54vw; width:15vw; height: 5vh;">

    <div class="input_nav" style="top:2.5vh; left:50vw;" for="inputGroupSelect01">거래처</div>
    <input id="cust" type="text" style="top:2.5vh; left:54vw">


    <div class="input_nav" style="top:2.5vh; left:17vw;" for="inputGroupSelect01">품목명</div>
    <select class="form-select text select" id="product_i">
      <option value=""></option>
      <option value="bricks_rect">bricks_rect</option>
      <option value="bricks_square">bricks_square</option>
      <option value="circle">circle</option>
      <option value="floor">floor</option>
    </select>
    <button class="btn btn-secondary" onclick="search()" style="position:absolute; top:2.5vh; right:10vw">조회</button>
  </div>

  <!-- 수주 조회 테이블 -->
  <div style="position: absolute; top:17vh; left:6vw; color:white; text-align: center;">
    <table id="iTable" class="table table-bordered"
      style=" text-align: center; color:white; background-color: rgba(95, 100, 126, 0.699);">
      <thead style="background-color: rgba(199, 202, 241, 0.308); height:4vh;">
        <tr>
          <th scope="col" style="width: 4vw;"></th>
          <th scope="col" style="width: 10vw;">수주번호</th>
          <th scope="col" style="width: 16vw;">거래처</th>
          <th scope="col" style="width: 16vw;">품목명</th>
          <th scope="col" style="width: 10vw;">지시 수량</th>
          <th scope="col" style="width: 20vw;">주문일</th>
          <th scope="col" style="width: 20vw;">납기일</th>
          <th scope="col" style="width: 10vw;">담당자</th>
        </tr>
      </thead>
      <tbody id="tbody1">
        <% for(var i=0; i < orders.length; i++) {%>
          <tr>
            <td><input type="radio" class="rad form-check-input"  name="select_radio" value="<%=orders[i].orders_id%>"></td>
            <td><%=orders[i].orders_id%></td>
            <td><%=orders[i].cust_name%></td>
            <td><%=orders[i].lego_name%></td>
            <td><%=orders[i].orders_qty%></td>
            <td><%=orders[i].orders_date%></td>
            <td><%=orders[i].delivery_date%></td>
            <td><%=orders[i].cid%></td>
          </tr>
        <%}%>
      </tbody>
    </table>
    <div class="col-lg-12" id="ex3_Result1"></div>
    <div class="col-lg-12" id="ex3_Result2"></div>
  </div>

  
  <button class="btn btn-light modal_btn" id="selectBtn" style="position:absolute; top: 50vh; right: 7vw;">등록</button>
  <button class="btn btn-danger " style="position:absolute; top: 50vh; right:3vw;" onclick="del()">삭제</button>

  <!--모달-->
  <div class="black_bg"></div>
  <div class="modal_wrap" style="height:384px;">
    <div class="input-group mb-3" style="position: absolute; left:0.5vw; top:3vh">
      <span class="input-group-text" style="width:10vw">수주 번호</span>
      <input type="text" class="form-control modal_input" placeholder="수주번호" id="orders_id">
    </div>
    <div class="input-group mb-3" style="position: absolute; left:0.5vw; top:8vh">
      <label class="input-group-text" style="width:10vw">품목 명</label>
      <select class="form-select" id="lego_name">
        <option value="bricks_rect">bricks_rect</option>
        <option value="bricks_square">bricks_square</option>
        <option value="circle">circle</option>
        <option value="floor">floor</option>
      </select>
    </div>
    <div class="input-group mb-3" style="position: absolute; left:0.5vw; top:13vh">
      <span class="input-group-text" style="width:10vw">지시 수량</span>
      <input type="text" class="form-control modal_input" placeholder="지시 수량" id="quantity">
    </div>
    <div class="input-group mb-3" style="position: absolute; left:0.5vw; top:18vh">
      <label class="input-group-text" style="width:10vw">작업일</label>
      <input type="text" class="datepicker" id="delivery">
    </div>
    <div class="input-group mb-3" style="position: absolute; left:0.5vw; top:23vh">
      <span class="input-group-text" style="width:10vw">담당자</span>
      <input type="text" class="form-control modal_input" placeholder="담당자" id="manager">
    </div>
    <div align="center">
      <button class="btn btn-dark" id="modal_register"style="position:absolute; bottom: 2.5vw; right: 18.5vw;">등록</button>
      <button class="btn btn-dark modal_close" style="position:absolute; bottom: 2.5vw; right: 8.5vw;">취소</button>
    </div>
  </div>
  


  <!-- 작업지시 테이블 -->
  <div style="position: absolute; top:59vh; left:6vw; color:white; text-align: center;">
    <table class="table table-bordered"
      style=" text-align: center; color:white; background-color: rgba(95, 100, 126, 0.699);">
      <thead style="background-color: rgba(199, 202, 241, 0.308); height:4vh;">
        <tr>
          <th scope="col" style="width: 4vw;"><input type="checkbox" id="checkAll" name="_selected_all_"></th>
          <th scope="col" style="width: 10vw;">작업지시번호</th>
          <th scope="col" style="width: 10vw;">수주번호</th>
          <th scope="col" style="width: 10vw;">품목명</th>
          <th scope="col" style="width: 10vw;">지시 수량</th>
          <th scope="col" style="width: 20vw;">주문일</th>
          <th scope="col" style="width: 20vw;">생산량</th>
          <th scope="col" style="width: 10vw;">상태</th>
        </tr>
      </thead>
      <tbody id="tbody2">
        <% for(var i=0; i < ordert.length; i++) {%>
          <tr>
            <td><input type="checkbox" id="del_row" class="chk" name="_selected_" value="<%=ordert[i].order_id%>"></td>
            <td><%=ordert[i].order_id%></td>
            <td><%=ordert[i].orders_id%></td>
            <td><%=ordert[i].lego_name%></td>
            <td><%=ordert[i].quantity%></td>
            <td><%=ordert[i].date%></td>
            <td><%=ordert[i].state%></td>
            <td>대기</td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>

  <script>
    $(function () {
      if ("<%=linkcode%>" == 0) {
        $("#linkcode").text("관리자")
      } else {
        $("#linkcode").text("작업자")
      }
    });
    //등록
    $("#modal_register").click(function(){
      var o = $("#orders_id").val()
      var m = $("#manager").val()
      var q = $("#quantity").val()
      var n = $("#lego_name").val()
      var d = $("#delivery").val()
      location.href="/instruct/register?mg="+m+"&qty="+q+"&name="+n+"&date="+d+"&id="+o
    })

    // 작업지시 삭제
    function del() {
      var checkBoxArr = [];
      if($("input[name='_selected_all_']:checked").length == 1){
          alert("삭제불가능");
      }else{
        $("input:checkbox[name='_selected_']:checked").each(function () {
        checkBoxArr.push($(this).val()); //체크된 값 뽑아서 push
      })
        if (confirm("삭제 하시겠습니까?")) {
          alert("삭제되었습니다.");
          location.href = "/instruct/del?_id=" + checkBoxArr
        }
      }
    }

    // 전체선택 버튼 클릭시 체크박스 전체 선택
    $("#checkAll").click(function () {
      if ($("#checkAll").is(":checked")) {
        $(".chk").prop("checked", true);
      } else {
        $(".chk").prop("checked", false);
      }
    })
    // 전체선택 중 한개의 체크박스 선택 해제 시 체크박스 해제
    $(".chk").click(function () {
      if ($("input[name='_selected_']:checked").length == iTable.rows.length) {
        $("#checkAll").prop("checked", true);
      } else {
        $("#checkAll").prop("checked", false);
      }
    });

    function search() {
      $("#tbody1").html("");
      $.getJSON("/instruct/search", {
        _cust : $("#cust").val(),
        _search_i : $("#product_i").val(),
        _date : $("#date").val()
      },
        function (result) {
          var body;
          for (var i = 0; i < result.instruct.length; i++) {
            body += "<tr>"
            for (key in result.instruct[0]) {
              body += "<td>" + result.instruct[i][key] + "</td>"
            }
            body += "</tr>"
          }
          $("#tbody1").html(body)
        })
    }

    $(".modal_btn").click(function () {
      $(".modal_wrap").css("display", "block")
      $(".black_bg").css("display", "block")
    })

    $(".modal_close").click(function () {
      $(".modal_wrap").css("display", "none")
      $(".black_bg").css("display", "none")
    })
    //달력(날짜 1개 선택)
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
      changeMonth: true,
      changeYear: true,
      nextText: '다음달',
      prevText: '이전달',
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true
    });
    $('.datepicker').datepicker('setDate', 'today');

    // $(".modal_input").keyup(function () {
    //   var manager = $("#manager").val();
    //   var quantity = $("#quantity").val();
    //   var cust = $("#orders_id").val()
    //   if (manager && quantity && cust) {
    //     $("#modal_register").removeAttr("disabled")
    //   } else {
    //     $("#modal_register").attr("disabled", "disabled")
    //   }
    // })

    $("#selectBtn").click(function(){

      var radio = $("input[name= select_radio]:checked");
 
      var tr = radio.parent().parent().eq(0);
      var td = tr.children();


      var orders_id = td.eq(1).text()
      var lego_name = td.eq(3).text();
      var orders_qty = td.eq(4).text();
      var cid = td.eq(7).text();

      $("#orders_id").val(orders_id)
      $("#lego_name").val(lego_name).prop("selected",true)
      // $("#lego_name").val(lego_name.options[lego_name.selectedindex].text)
      $("#quantity").val(orders_qty)
      $("#manager").val(cid)
        
    })
  </script>
</body>

</html>