<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script src="/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui.css">

        <script src="/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <style>
        
          .table{
            width:92.5vw;
            text-align: center;
            background-color: rgb(173, 185, 202);
          }
          .input-group{
            width: 25vw;
            text-align: center;
            background-color: rgb(173, 185, 202);
          } 
          .wrapper{
            height:10vh;
            width:92.5vw;
            background-color: rgba(199, 202, 241, 0.308);;
          }
          #instruct_icon{
            background-color: var(--first-color);
          }
          .input-group-text{
            border-radius:0;
            width: 20vw;
          }
          .form-control{
            border-radius: 0;
          }
          #instruct_icon{
            background-color: var(--first-color);
          }

          .modal_wrap{
            display: none;
            width: 500px;
            height: 500px;
            position: absolute;
            top:50%;
            left: 50%;
            margin: -250px 0 0 -250px;
            background:#eee;
            z-index: 2;
          }
          .black_bg{
              display: none;
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              background-color:rgba(0, 0,0, 0.5);
              top:0;
              left: 0;
              z-index: 1;
          }
          .modal_close{
              width: 26px;
              height: 26px;
              position: absolute;
              top: -30px;
              right: 0;
          }
          .modal_close> a{
              display: block;
              width: 100%;
              height: 100%;
              background:url(https://img.icons8.com/metro/26/000000/close-window.png);
              text-indent: -9999px;
          }
        </style>
    </head>

    <body style="background-color: rgb(41, 43, 48); overflow-y:hidden">
      <form action="/instruct" method="POST">
        <div class="wrapper" style="position: absolute; top:3vh; left:6vw">
          <!--
          <div class="input-group mb-3" style="position: absolute; left:14.5vw; top:4vh">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width:10vw">담당자</span>
            <input type="text" class="form-control" placeholder="담당자" id = "manager" name="_manager">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:47.5vw; top:4vh">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width:10vw">지시 수량</span>
            <input type="text" class="form-control" placeholder="지시 수량" id = "quantity" name="_quantity">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:14.5vw; top:13vh">
            <label class="input-group-text" for="inputGroupSelect01" style="width:10vw">품목번호</label>
            <select class="form-select" id="inputGroupSelect01" name ="_id">
              <option value="bricks_rect">bricks_rect</option>
              <option value="bricks_square">bricks_square</option>
              <option value="circle">circle</option>
              <option value="floor">floor</option>
            </select>
          </div>
          -->
          <div class="input-group mb-3" style="position: absolute; left:3vw; top:2vh;">
            <label class="input-group-text" for="inputGroupSelect01" style="width:10vw">거래처</label>
            <input type="text" style="width: 60.2%;">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:57vw; top:2vh">
            <label class="input-group-text" for="inputGroupSelect01" style="width:10vw">작업 날짜</label>
            <input type="text" class="datepicker wdate" name="_date" value="<%= date %> " style="width: 60.2%;">
          </div>
          <!--
          <div align="center">
            <button type="submit" class="btn btn-dark" style="position:absolute; bottom: 1vh; right: 1.5vw;" id = "register" disabled>등록</button>
          </div>
          -->
          <div class="input-group mb-3" style="position: absolute; left:30vw; top:2vh">
            <label class="input-group-text" for="inputGroupSelect01" style="width:10vw">품목명</label>
            <select class="form-select" id="product_i" name ="search_i">
              <option value="bricks_rect">bricks_rect</option>
              <option value="bricks_square">bricks_square</option>
              <option value="circle">circle</option>
              <option value="floor">floor</option>
            </select>
          </div>
          <button class="btn btn-secondary" onclick="search()" style="position:absolute; bottom:2vh; right:1.5vw">조회</button>
        </div>
      </form>

      <!-- 수주 조회 테이블 -->
      <div style="position: absolute; top:15vh; left:6vw; color:white; text-align: center;">
        <table id="iTable" class = "table table-bordered" style=" text-align: center; color:white; background-color: rgba(95, 100, 126, 0.699);">
          <thead style="background-color: rgba(199, 202, 241, 0.308); height:4vh;">
            <tr>
              <th scope="col" style="width: 4vw;"><input type="checkbox" id="checkAll" name="_selected_all_"></th>
              <th scope="col" style="width: 10vw;">작업지시번호</th>
              <th scope="col" style="width: 16vw;">품목명</th>
              <th scope="col" style="width: 10vw;">지시 수량</th>
              <th scope="col" style="width: 20vw;">주문일</th>
              <th scope="col" style="width: 20vw;">납기일</th>
              <th scope="col" style="width: 10vw;">담당자</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < ordert.length; i++) {%>
              <tr>
                <td><input type="checkbox" id="del_row" class="chk" name="_selected_" value="<%=ordert[i].order_id%>"></td>
                <td><%=ordert[i].order_id%></td>
                <td><%=ordert[i].lego_id%></td>
                <td><%=ordert[i].quantity%></td>
                <td><%=ordert[i].date%></td>
                <td>납기일</td>
                <td><%=ordert[i].manager%></td>
              </tr>
            <%}%>
          </tbody>
        </table>
      </div>

      <!--입력, 수정, 삭제 버튼-->
      <button type="submit" class="btn btn-light" style="position:absolute; top: 50vh; right: 13vw;" id = "register" disabled>등록</button>
      <button class="btn btn-primary modal_btn" style="position:absolute; top: 50vh; right:8vw;" type='button'>수정</button>
      <div class="modal_wrap">
        <div class="modal_close"><a href="#">close</a></div>
        <div>
          <div class="input-group mb-3" style="position: absolute; left:5.5vw; top:5vh">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width:10vw">담당자</span>
            <input type="text" class="form-control" placeholder="담당자" id = "manager" name="_manager">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:5.5vw; top:12vh">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width:10vw">지시 수량</span>
            <input type="text" class="form-control" placeholder="지시 수량" id = "quantity" name="_quantity">
          </div>
          <div class="input-group mb-3" style="position: absolute; left:5.5vw; top:19vh">
            <label class="input-group-text" for="inputGroupSelect01" style="width:10vw">품목 번호</label>
            <select class="form-select" id="inputGroupSelect01" name ="_id">
              <option value="bricks_rect">bricks_rect</option>
              <option value="bricks_square">bricks_square</option>
              <option value="circle">circle</option>
              <option value="floor">floor</option>
            </select>
          </div>
          <div class="input-group mb-3" style="position: absolute; left:5.5vw; top:26vh">
            <label class="input-group-text" for="inputGroupSelect01" style="width:10vw">납기일</label>
            <input type="text" class="datepicker" name="_date">
          </div>
        </div>
      </div>
      <button class="btn btn-danger " style="position:absolute; top: 50vh; right:3vw;" onclick="del()">삭제</button>


      <!-- 작업지시 테이블 -->
      <div style="position: absolute; top:57vh; left:6vw; color:white; text-align: center;">
        <table class = "table table-bordered" style=" text-align: center; color:white; background-color: rgba(95, 100, 126, 0.699);">
          <thead style="background-color: rgba(199, 202, 241, 0.308); height:4vh;">
            <tr>
              <th scope="col" style="width: 10vw;">작업지시번호</th>
              <th scope="col" style="width: 10vw;">품목명</th>
              <th scope="col" style="width: 10vw;">지시 수량</th>
              <th scope="col" style="width: 20vw;">주문일</th>
              <th scope="col" style="width: 20vw;">납기일</th>
              <th scope="col" style="width: 10vw;">담당자</th>
              <th scope="col" style="width: 10vw;">상태</th>
            </tr>
          </thead>
          <tbody id="tbody2">
            <% for(var i=0; i < ordert.length; i++) {%>
              <tr>
                <td><%=ordert[i].order_id%></td>
                <td><%=ordert[i].lego_id%></td>
                <td><%=ordert[i].quantity%></td>
                <td><%=ordert[i].date%></td>
                <td><%=ordert[i].manager%></td>
                <td>윤다연</td>
                <td>진행중</td>
              </tr>
            <%}%>
          </tbody>
        </table>
      </div>






      <script>
        //달력(날짜 선택 2개)
        // $('#datepicker').daterangepicker({ 
        //   "locale": { "format": "YYYY-MM-DD", 
        //   "separator": " ~ ", 
        //   "applyLabel": "확인", 
        //   "cancelLabel": "취소", 
        //   "fromLabel": "납기일", 
        //   "toLabel": "주문일", 
        //   "customRangeLabel": "Custom", 
        //   "weekLabel": "W", 
        //   "daysOfWeek": ["일","월", "화", "수", "목", "금", "토"], 
        //   "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], 
        //   "firstDay": 1 }, 
        //   "startDate": new Date(), 
        //   "endDate": new Date(), 
        //   "drops": "dwon" }, 
          
        //   function (start, end, label) { 
        //     console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')'); 
        //   }
        // );

        $(function(){
          if ("<%=linkcode%>"==0){
              $("#linkcode").text("관리자")
          }else{
              $("#linkcode").text("작업자")
          }
        });

        $("input").keyup(function(){
          var manager = $("#manager").val();
          var quantity = $("#quantity").val();
          var date = $(".wdate").val();
          
          
          if(manager && quantity && date){    
              $("#register").removeAttr("disabled")
          }else{
              $("#register").attr("disabled", "disabled")
          }
        })

        // 작업지시 삭제
        function del(){
          var checkBoxArr = [];
          $("input:checkbox[name='_selected_']:checked").each(function(){
            checkBoxArr.push($(this).val()); //체크된 값 뽑아서 push
          })
          if(confirm("삭제 하시겠습니까?")) {
            alert("삭제되었습니다.");
            location.href="/del?_id="+checkBoxArr
          }
        }

        // 전체선택 버튼 클릭시 체크박스 전체 선택
        $("#checkAll").click(function(){
          if($("#checkAll").is(":checked")){
            $(".chk").prop("checked", true);
          }else{
            $(".chk").prop("checked", false);
          }
        })
        // 전체선택 중 한개의 체크박스 선택 해제 시 체크박스 해제
        $(".chk").click(function(){
          if($("input[name='_selected_']:checked").length == iTable.rows.length){
              $("#checkAll").prop("checked", true);
          }else{
            $("#checkAll").prop("checked", false);
          }
        });

        function search(){
          $("#tbody2").html("");
          var pd = $("#product_i").val()
          $.getJSON("/instruct_search", {
            pd : pd
          },
            function(result){
              var body;
              for(var i=0; i<result.instruct.length; i++){
                body += "<tr>"
                  for (key in result.instruct[0]){
                    body += "<td>"+result.instruct[i][key]+"</td>"
                  }
                  body += "</tr>"
              }
              $("#tbody2").html(body)
            })
        }

        $(".modal_btn").click(function(){
          $(".modal_wrap").css("display","block")
          $(".black_bg").css("display","block")
        })

        $(".modal_close").click(function(){
          $(".modal_wrap").css("display","none")
          $(".black_bg").css("display","none")
        })
//달력(날짜 1개 선택)
        $(".datepicker").datepicker({
          dateFormat : "yy-mm-dd",
          monthNames : ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
          monthNamesShort : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
          dayNamesMin : ['월','화','수','목','금','토','일'],
          changeMonth : true,
          changeYear : true,
          nextText : '다음달',
          prevText : '이전달',
          showOtherMonths: true,
          selectOtherMonths: true,
          changeMonth: true,
          changeYear: true
        });
        $('.datepicker').datepicker('setDate', 'today');

        function search() {
          $("tbody").html("");
          var date = $(".datepicker").val()
          $.getJSON("/defect_search", {
            date: date
          },
            function (result) {
              var body;
              for (var i=1; i<result.defect.length; i++){
                body += "<tr>"
                for (key in result.defect[0]){
                  body += "<td>"+result.defect[i][key]+"</td>"
                }
                body += "</tr>"
              }
              $("tbody").html(body)
            })
        }




      </script>
    </body>
</html>
