<!DOCTYPE html>
<html>

<head>
    <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>

        <style>
            .wrapper {
                position:absolute;
                height: 30vh;
                width: 23.1vw;
                background-color: rgba(69, 134, 231, 0.445);
                border: 2px solid white;
                color: white;
            }
            .wrapper1 {
                position:absolute;
                top:0.5vh;
                left: 0.3vw;
                height: 5vh;
                width: 22.4vw;
                background-color: rgba(165, 171, 212, 0.603);
                left:0.3vw;
                text-align: center;
                font-size: 20px;
                line-height: 5vh;
                color:white;
            }

            .wrapper3 {
                position: absolute;
                left: 2vw;
                height: 7vh;
                width: 10vw;
                background-color: rgba(255, 255, 255, 0.226);
                text-align: center;
                line-height: 6.5vh;
                font-size: x-large;
                color: white;
            }

            .sep {
                width: 10vw;
                border: dotted 2px white;
                z-index: 2;
            }
            /* .jb1{
                width: 12vw;
                top:21.3vh;
                height: 6vh;
                border: solid 0.8vh yellow;
                transition-timing-function: step-start;
                transition-duration: 100s;


            }
            .jb2{
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh yellow;
                transition-timing-function: step-start;
                transition-duration: 100s;

            } */

            @keyframes example{
            /* A상태에서 B 상태로 */
                from { /* A */
                    background-color: green;
                }
                to { /* B */
                    background-color: red;
                }
            }
            
            .pr_box1 {
                position: absolute; 
                top:9.5vh;
                width: 10vw;
                height: 5vh;
                /*border: solid 3px rgb(180, 195, 216);*/
                background-color: rgba(240, 255, 255, 0.329);
                font-size: 20px;
                color: white; 
                text-align:center; 
                line-height: 4.5vh;
            }
            .pr_box2 {
                position: absolute; 
                top:14vh;
                width: 10vw;
                height: 12vh;
                /*border: solid 3px rgb(180, 195, 216);*/
                background-color: rgba(240, 255, 255, 0.452);
                color: white;
                font-size: 20px;
                text-align:center;
                line-height:8vh;
            }
            .pr_num{
                position: absolute;
                top: 20.3vh;
                font-size:21px;
                color:white;
            }

            .dong {
                border-radius:50%;
                width:130px;
                height:130px;
                position:absolute; 
                left:0.5vw; 
                top:8.3vh;
                border:4px solid white;
            }
            .unit {
                position: absolute; 
                left:25px; 
                top:80px; 
                font-size: x-large; 
                color:white
            }

            .sep {
                position: absolute;
                left:10vw; 
                width:12vw;
                border-bottom: 2px dashed white;
                border-left : none;
                border-right: none;
                border-top: none;
            }
            /* .modal_wrap {
                display: none;
                width: 400px;
                height: 320px;
                position: absolute;
                margin: -200px 0 0 -200px;
                background: rgb(210, 215, 221);
                z-index: 2;
            }
            .black_bg{
                display: none;
                position: fixed;
                top:0; left: 0; bottom: 0; right: 0;
                background: rgba(0, 0, 0, 0.8);
                z-index : 1;
            } */
            .modal_close {
                color: white;
                width: 4.5vw;
                height: 6vh;
                position: absolute;
                bottom: 2.5vw;
                right: 8.5vw;
                text-indent: -2.5vw;

            }
            .modal_close>a {
                display: block;
                color: white;
                width: 5vw;
                height: 5vh;
                text-indent: -2.5vw;
            }
            
            #main_icon{
                background-color: var(--first-color);
            }
            /* .blinking{ -webkit-animation:blink 1.5s ease-in-out infinite alternate; 
                    -moz-animation:blink 1.5s ease-in-out infinite alternate; 
                    animation:blink 1.5s ease-in-out infinite alternate;
            }
            @-webkit-keyframes blink{ 
                0% {opacity:0;} 
                100% {opacity:1;} 
            } 
            @-moz-keyframes blink{
                 0% {opacity:0;}
                  100% {opacity:1;}
            } 
            @keyframes blink{
                 0% {opacity:0;}
                  100% {opacity:1;}
            }

            #test {
                animation: fadein 2s;
                -moz-animation: fadein 2s;
                -webkit-animation: fadein 2s; 
                -o-animation: fadein 2s; 
            }
            @keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-moz-keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-webkit-keyframes fadein 
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-o-keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity: 1;
                }
            } */

            /* 
            #keyboard{
                display: none;
                background-color: rgb(68,84,106);
                color: white; 
                position:absolute; 
                left:500px; 
                top:200px; 
                table-layout: fixed; 
                width:120px;
            }
            .btn{
                width:6.5rem; 
                height:2.5rem; 
                position:absolute; 
                bottom:0.3rem; 
                line-height: 1em;
            }
            
             */
            .uniti {
                position:absolute; 
                left:3vw; 
                top: 9vh; 
                font-size: 35px;
            }
            .inputn {
                position: absolute; 
                top:14.5vh; 
                left:17.5vw; 
                font-size: x-large; 
                color:white;
            }
             .alertI{
                display : none;
             }
        </style>
</head>

<body style="background-color: black; overflow-x: hidden; overflow-y:hidden;">

    <!-- 자판  -->
    <!-- <table class="table table-bordered " id="keyboard">
        <tr>
            <td onclick="add(1)">1</td>
            <td onclick="add(2)">2</td>
            <td onclick="add(3)">3</td>
        </tr>
        <tr>
            <td onclick="add(4)">4</td>
            <td onclick="add(5)">5</td>
            <td onclick="add(6)">6</td>
        </tr>
        <tr>
            <td onclick="add(7)">7</td>
            <td onclick="add(8)">8</td>
            <td onclick="add(9)">9</td>
        </tr>
        <tr>
            <td onclick="reset()">AC</td>
            <td onclick="add(0)">0</td>
            <td onclick="add('.')">.</td>
        </tr>
        <tr>
            <td colspan="2" id="ok">OK</td>
            <td onclick="del()">←</td>
        </tr>
    </table> -->

    <!--결함발생 alert -->
    <div class="alertI">
        <img src="/img/alert.WEBP" style="width:6vw; height:10vh; position:absolute; right:3vw; top:32vh;">
    </div>


    <!-- 공정 프로세스 -->
    <div class="wrapper" style="position:absolute; height:30vh; top:67vh; left:5.7vw; width:93.6vw; background-color:rgba(83, 130, 231, 0.438);">
        <div class="wrapper1" style="width:93vw; position:absolute; top:0.5vh; color:white;"><b>공정 프로세스</b></div>
        <div id="b1" >
            <div align="center" class="pr_box1" style="left:3vw;">1</div>
            <div align="center" class="pr_box2" style="left:3vw;">Ready</div>
            
        </div>

        <div id="b2">
            <div align="center" class="pr_box1" style="left:20vw;">2</div>
            <div align="center" class="pr_box2" style="left:20vw;">Injecting</div>
            <div class="pr_num" id="now_injection_time" style="left:24vw;">
                <% if(monitor){%>
                    <%= monitor.injection_time%>
                <% } %>
            </div>

        </div>

        <div id="b3">
            <div align="center" class="pr_box1" style="left:37vw;">3</div>
            <div align="center" class="pr_box2" style="left:37vw;">Filling</div>
            <div class="pr_num" id="now_filling_time" style="left:41vw;">
                <% if(monitor){%>
                    <%= monitor.filling_time%>
                <% } %>
            </div>  
        </div>

        <div id="b4">
            <div align="center" class="pr_box1" style="left:54vw;">4</div>
            <div align="center" class="pr_box2" style="left:54vw;">Holding</div>
            <div class="pr_num" style="left:58vw;" id="now_hold_time">
                <% if(monitor){%>
                    <%= monitor.hold_time%>
                <% } %>
            </div> 
        </div>

        <div id="b5">
            <div align="center" class="pr_box1" style="left:71vw;"> 5</div>
            <div align="center" class="pr_box2" style="left:71vw;">Seperating</div>
            <!--총시간
                <div class="unit" id="now_cycle_time">
                <% if(monitor){%>
                    <%= monitor.cycle_time%>
                <% } %>
            </div>--> 
        </div>

        <!-- 시작/종료/정지/입력 버튼 -->
        <button type="button" id = "onoff" class="btn btn-light" style="width:8vw; height:6vh; position: absolute; right:1.5vw; top:11vh; font-size:1.2em;"
        onclick="start()" disabled>
        <b>ON/OFF</b>
        </button>
        <button type="button" class="btn btn-danger" style="width:8vw; height:6vh; position: absolute; right:1.5vw; top:18vh; font-size:1.2em;"
            onclick="stop()">
            <b>비상정지</b>
        </button>
    </div>

    <!-- 모달 -->
    <div class="black_bg"></div>
    <div class="modal_wrap modal_name" style="height:5vh; top: 20vh; background-color: rgb(151, 161, 170);"></div>
    <div class="modal_wrap">
        <div class="modal_box1" style="top:5vh;"><b>상한값</b></div>
        <div class="modal_box2" style="top:5vh;" id="ucl"></div>
        <div class="modal_box1" style="top:11.4vh;"><b>추천최적값</b></div>
        <div class="modal_box2" style="top:11.4vh;" id="cl"></div>
        <div class="modal_box1" style="top:17.8vh;"><b>하한값</b></div>
        <div class="modal_box2" style="top:17.8vh;" id="lcl"></div>
        <div class="modal_box1" style="top:24.2vh;"><b>입력값</b></div>            
        <input type="text" class="modal_box2" id="set" style="top:24.2vh; border:none;">
        <div align="center">
            <button class="btn btn-secondary" style="position:absolute; bottom: 2vh; left: 9vw; width:4.6vw; 
            height:5.6vh; font-size:17px; line-height: 3.3vh;" id="register"><b>등록</b></button>
            <button class="modal_close btn btn-secondary" style="position:absolute; bottom: 2vh; right: 9vw;
            width:4.6vw; height:5.6vh; display:inline-block; text-indent: 0px; line-height: 3.3vh; font-size:17.5px"><b>취소</b></button>
        </div>
    </div>

    <!-- 용융온도 -->
    <div class="wrapper modal_btn" onclick="modal('melt')" style="position: absolute; top: 5vh; left:5.7vw; color:white;">
        <div class="wrapper1"><b>용융 온도</b></div>
        <div class="dong">
            <div class="uniti" >°C</div>
        </div>
        <div class="unit" id="now_melt_temp">            
            <% if(monitor){%>
                <%= monitor.melt_temp%>
            <% } %>
        </div>
        <div style="position: absolute; top:9.1vh; left:9.5vw; font-size: medium; color:white;">UCL</div>
        <div style="position: absolute; top:9.1vh; left:12vw; font-size: medium; color:white;">35.0</div>
        <div class="sep" style="top:10.5vh; width:7.5vw;left:14.5vw"></div>
        <div style="position: absolute; top:15vh; left:12vw; font-size: large; color:white;"><b>입력값</b></div>
        <div class="sep" style="top:22vh; left:10vw; width:7.5vw;"></div>
        <div style="position: absolute; top:20.6vh; left:17.8vw; font-size: medium; color:white;">LCL</div>
        <div style="position: absolute; top:20.6vh; left:20.1vw; font-size: medium; color:white;">35.0</div>
        <div class="inputn" id="set_melt">
            <% if(setup){%>
                <%=setup.melt_temp%>
            <%}%>
        </div>
    </div>
    <!-- 금형온도 -->
    <div class="wrapper modal_btn" onclick="modal('mold')" style="position: absolute; top: 5vh; left:29.2vw; color:white;">   
        <div class="wrapper1"><b>금형 온도</b></div>
        <div class="dong">
            <div class="uniti">°C</div>
        </div>
        <div class="unit" id="now_mold_temp">
            <% if(monitor){%>
                <%= monitor.mold_temp%>
            <% } %>
        </div>
        <div style="position: absolute; top:7.5vh; left:13.5vw; font-size: medium; color:white;">UCL</div>
        <div style="position: absolute; top:7.5vh; left:16.5vw; font-size: medium; color:white;">35.0</div>
        <div class="sep" style="top:11.5vh;"></div>
        <div style="position: absolute; top:14.2vh; left:12vw; font-size: large; color:white;">입력값</div>
        <div class="sep" style="top:20.5vh;"></div>
        <div style="position: absolute; top:21.5vh; left:13.5vw; font-size: medium; color:white;">LCL</div>
        <div style="position: absolute; top:21.5vh; left:16.5vw; font-size: medium; color:white;">35.0</div>
        <div class="inputn" id="set_mold">
            <% if(setup){%>
                <%=setup.mold_temp%>
            <%}%>
        </div>
    </div>

    <!-- 사출속도 -->
    <div class="wrapper modal_btn" onclick="modal('inj')" style="position: absolute; top: 36vh; left:5.7vw; color:white;">
        <div class="wrapper1"><b>사출속도</b></div>
        <div class="dong">
            <div class="uniti" style="left:1.4vw; font-size:27px"><b>mm/s</b></div>
        </div>
        <div class="unit" id="now_injection_speed">
            <% if(monitor){%>
                <%= monitor.injection_speed%>
            <% } %>
        </div>
        <div style="position: absolute; top:8.5vh; left:13.5vw; font-size: medium; color:white;">UCL</div>
        <div style="position: absolute; top:8.5vh; left:16.5vw; font-size: medium; color:white;">35.0</div>
        <div class="sep" style="top:11.7vh;"></div>
        <div style="position: absolute; top:15.5vh; left:12vw; font-size: large; color:white;">입력값</div>
        <div class="sep" style="top:22.5vh;"></div>
        <div style="position: absolute; top:23vh; left:13.5vw; font-size: medium; color:white;">LCL</div>
        <div style="position: absolute; top:23vh; left:16.5vw; font-size: medium; color:white;">35.0</div>
        <div class="inputn" id="set_inj">
            <% if(setup){%>
                <%=setup.injection_speed%>
            <%}%>23
        </div>
    </div>
    </div>
    <!-- 보압 -->
    <div class="wrapper modal_btn" onclick="modal('hold')" style="position: absolute; top: 36vh; left:29.2vw; color:white;">
        <div class="wrapper1"><b>보압</b></div>
        <div class="dong">
            <div class="uniti" style="left:0.6vw; font-size:21px;"><b>kgf/cm^3</b></div>
        </div>
        <div class="unit" id="now_hold_pressure">
            <% if(monitor){%>
                <%= monitor.hold_pressure%>
            <% } %>
        </div>
        <div style="position: absolute; top:7.5vh; left:13.5vw; font-size: medium; color:white;">UCL</div>
        <div style="position: absolute; top:7.5vh; left:16.5vw; font-size: medium; color:white;">35.0</div>
        <div class="sep" style="top:11.5vh;"></div>
        <div style="position: absolute; top:14.2vh; left:12vw; font-size: large; color:white;">입력값</div>
        <div class="sep" style="top:20.5vh;"></div>
        <div style="position: absolute; top:21.5vh; left:13.5vw; font-size: medium; color:white;">LCL</div>
        <div style="position: absolute; top:21.5vh; left:16.5vw; font-size: medium; color:white;">35.0</div>
        <div class="inputn" id="set_hold">
            <% if(setup){%>
                <%=setup.hold_pressure%>
            <%}%>
        </div>
    </div>
    </div>

    <!-- 생산현황 -->
    <div class="wrapper" style="position: absolute; height:61vh; top: 5vh; left:52.7vw; background-color:rgba(83, 130, 231, 0.438);">
        <div class="wrapper1"><b>생산현황</b></div>
        <div class="wrapper3" style="top:15vh;">생산목표</div>
        <div style="position: absolute; left:16vw; top:16vh; font-size:x-large;">
            <b><% if(dir){%>
                <%= order[0].total%>
            <%}%></b>
        </div>
        <div class="wrapper3" style="top:24vh;">생산실적</div>
        <div id = "cnt" style="position: absolute; top:25vh; left:16vw; font-size:x-large;">
            <b><% if(monitor){%>
                <%= monitor.cnt%>
            <% } %></b>
        </div>
        <div class="wrapper3" style="top:33vh;">달성률</div>
        <div id = "qnt" style="position: absolute; top:34vh; left:16vw; font-size:x-large; color:chartreuse">
            <b><% if(monitor) {%>
                <%= (monitor.cnt/order[0].total).toFixed(2)*100%>%
            <%}%></b>
        </div>
        <div class="wrapper3" style="top:42vh;">불량률</div>
        <div id = "def" style="position: absolute; top:43vh; left:16vw; font-size:x-large; color:orangered">
            <b><% if(monitor) {%>
                <%= (monitor.def/monitor.cnt).toFixed(2)*100%>%
            <%}%></b>
        </div>
    </div>

    <!-- 오늘의 날씨 -->
    <div class="wrapper" style="position: absolute; top: 5vh; left:76.2vw; background-color:rgba(83, 130, 231, 0.438);">
        <div class="wrapper1"><b>오늘 날씨</b></div>
    </div>
    <!-- 작업지시현황 -->
    <div class="wrapper" style="position: absolute; top: 36vh; left:76.2vw; background-color:rgba(83, 130, 231, 0.438);">
        <div class="wrapper1"><b>작업지시현황</b></div>
    </div>

    <script>
        $(function () {
            if ("<%=linkcode%>" == 0) {
                $("#linkcode").text("관리자")
            } else {
                $("#linkcode").text("작업자")
            }

            if (("<%=dir%>" == "true") && $("#set_melt").text().trim()!=""
            && $("#set_mold").text().trim()!="" && $("#set_inj").text().trim()!=""
            && $("#set_hold").text().trim()!=""){
                $("#onoff").removeAttr("disabled")
            }else{
                $("#onoff").attr("disabled", "disabled")
            }

            if ("<%=run%>" == "true"){
                start()
            }
        })
        var set = "";
        function clicked(c) {
            set = c;
        }
        function add(char) {
            $(set).append(char)
        }
        function reset() {
            $(set).text("")
        }
        function del() {
            var c = document.getElementById(set.slice(1)).innerText
            $(set).text(c.slice(0, -1))
        }
        $(".display").click(function (e) {
            $("#keyboard").css("left", e.pageX + "px")
            $("#keyboard").css("top", e.pageY + "px")
            $("#keyboard").show()
        })
        $("#ok").click(function () {
            $("#keyboard").hide()
        })

        $(".modal_btn").click(function () {
            $(".modal_wrap").css("display", "block")
            $(".black_bg").css("display", "block")
        })

        $(".modal_close").click(function () {
            $(".modal_wrap").css("display", "none")
            $(".black_bg").css("display", "none")
        })
        function modal(name){
            if (name == "melt"){
                $("#ucl").text((parseFloat("<%=melt[0]%>")+2*parseFloat("<%=melt[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=melt[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=melt[0]%>")-2*parseFloat("<%=melt[1]%>")).toFixed(2))
                $(".modal_name").text("용융온도")
            }else if (name == "mold"){
                $("#ucl").text((parseFloat("<%=mold[0]%>")+2*parseFloat("<%=mold[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=mold[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=mold[0]%>")-2*parseFloat("<%=mold[1]%>")).toFixed(2))
                $(".modal_name").text("금형온도")
            }else if (name == "hold"){
                $("#ucl").text((parseFloat("<%=hold[0]%>")+2*parseFloat("<%=hold[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=hold[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=hold[0]%>")-2*parseFloat("<%=hold[1]%>")).toFixed(2))
                $(".modal_name").text("보압")
            }else{
                $("#ucl").text((parseFloat("<%=inj[0]%>")+2*parseFloat("<%=inj[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=inj[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=inj[0]%>")-2*parseFloat("<%=inj[1]%>")).toFixed(2))
                $(".modal_name").text("사출속도")
            }
        }

        $("#register").click(function(){
            var name = $(".modal_name").text();
            var set = $("#set").val();
            location.href = "/register?name="+name+"&set="+set
        })

    </script>

</body>

</html>