<!DOCTYPE html>
<html>

<head>
    <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>

        <style>
            .wrapper {
                height: 25.5vh;
                width: 22.5vw;
                background-color: rgb(71, 74, 95);
            }

            .wrapper1 {
                height: 4.5vh;
                width: 21.9vw;
                background-color: rgba(165, 171, 212, 0.603);
            }

            .wrapper2 {
                height: 10vh;
                width: 91.35vw;
                background-color: rgb(71, 74, 95);
            }

            .wrapper3 {
                height: 8vh;
                width: 10vw;
                border-radius: 0.5em;
                position: absolute;
                border: 0.3vh solid white;
                position: absolute;
                top: 1vh;
                text-align: center;
                line-height: 7.5vh;
                font-size: x-large;
            }

            .sep {
                width: 11.5vw;
                background-color: white;
                border: solid 0.1vh white;

            }

            .box1 {
                width: 12vw;
                top:21.3vh;
                height: 6vh;
                border: solid 0.8vh rgb(180, 195, 216);
                /* color: linear-gradient(to right bottom, gray, navy); */

            }

            .box2 {
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh rgb(180, 195, 216);
                color: linear-gradient(to right bottom, gray, navy);
            }

            .sep2 {
                width: 12vw;
                background-color: white;
                border: solid 0.2vh white;
            }
            #main_icon{
                background-color: var(--first-color);
            }
            .blinking{ -webkit-animation:blink 1.5s ease-in-out infinite alternate; 
                    -moz-animation:blink 1.5s ease-in-out infinite alternate; 
                    animation:blink 1.5s ease-in-out infinite alternate;
            }
            @-webkit-keyframes blink{ 
                0% {opacity:0;} 
                100% {opacity:1;} 
            } 
            @-moz-keyframes blink{
                 0% {opacity:0;}
                  100% {opacity:1;}
            } 
            @keyframes blink{
                 0% {opacity:0;}
                  100% {opacity:1;}
            }

            #test {
                animation: fadein 2s;
                -moz-animation: fadein 2s; /* Firefox */
                -webkit-animation: fadein 2s; /* Safari and Chrome */
                -o-animation: fadein 2s; /* Opera */
            }
            @keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-moz-keyframes fadein { /* Firefox */
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-webkit-keyframes fadein { /* Safari and Chrome */
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-o-keyframes fadein { /* Opera */
                from {
                    opacity:0;
                }
                to {
                    opacity: 1;
                }
            }

            /* 
            #keyboard{
                display: none;
                background-color: rgb(68,84,106);
                color: white; 
                position:absolute; 
                left:500px; 
                top:200px; 
                table-layout: fixed; 
                width:120px;
            }
            .btn{
                width:6.5rem; 
                height:2.5rem; 
                position:absolute; 
                bottom:0.3rem; 
                line-height: 1em;
            }
            
             */

             .alertI{
                display : none;
             }
        </style>
</head>

<body style="background-color: rgb(41, 43, 48);">

    <!-- 자판  -->
    <!-- <table class="table table-bordered " id="keyboard">
        <tr>
            <td onclick="add(1)">1</td>
            <td onclick="add(2)">2</td>
            <td onclick="add(3)">3</td>
        </tr>
        <tr>
            <td onclick="add(4)">4</td>
            <td onclick="add(5)">5</td>
            <td onclick="add(6)">6</td>
        </tr>
        <tr>
            <td onclick="add(7)">7</td>
            <td onclick="add(8)">8</td>
            <td onclick="add(9)">9</td>
        </tr>
        <tr>
            <td onclick="reset()">AC</td>
            <td onclick="add(0)">0</td>
            <td onclick="add('.')">.</td>
        </tr>
        <tr>
            <td colspan="2" id="ok">OK</td>
            <td onclick="del()">←</td>
        </tr>
    </table> -->

    <!--결함발생 alert -->
    <div class="alertI">
        <img src="/img/alert.WEBP" style="width:6vw; height:10vh; position:absolute; right:3vw; top:32vh;">
    </div>


    <div align="center" class="box1"
        style="position: absolute; top:21.3vh; left:9.35vw; font-size: 1.2em; color: white; text-align:center; line-height: 5vh;">
        1</div>
    <div align="center" class="box2"
        style="position: absolute; top:26.5vh; left:9.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">
        Ready</div>

    <div align="center" class="box1"
        style="position: absolute; top:21.3vh; left:23.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">
        2</div>
    <div align="center" class="box2"
        style="position: absolute; top:26.5vh; left:23.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">
        Injecting</div>

    <div align="center" class="box1"
        style="position: absolute; top:21.3vh; left:37.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">
        3</div>
    <div align="center" class="box2"
        style="position: absolute; top:26.5vh; left:37.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">
        Filling</div>

    <div align="center" class="box1"
        style="position: absolute; top:21.3vh; left:51.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">
        4</div>
    <div align="center" class="box2"
        style="position: absolute; top:26.5vh; left:51.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">
        Holding</div>

    <div align="center" class="box1"
        style="position: absolute; top:21.3vh; left:65.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">
        5</div>
    <div align="center" class="box2"
        style="position: absolute; top:26.5vh; left:65.35vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">
        Seperating</div>


    <!-- wrapper2 상단바 -->
    <div class="wrapper2" style="position: absolute; top: 3vh; left:7.35vw; color:white; text-align:center; font-weight: 1000;">
        <div class="wrapper3" style="position: absolute; left:2vw; color:rgb(255, 192, 0); ">생산목표</div>
        <div class="wrapper3" style="position: absolute; left:13vw; color:red;">
            <% if(dir){%>
                <%= order[0].total%>
            <%}%>
        </div>
        <div class="wrapper3" style="position: absolute; left:24vw; color:rgb(255, 192, 0);">생산실적</div>
        <div class="wrapper3" id = "cnt" style="position: absolute; left:35vw; color:red;">
            <% if(monitor){%>
                <%= monitor.cnt%>
            <% } %>
        </div>
        <div class="wrapper3" style="position: absolute; left:46vw; color:rgb(255, 192, 0);">달성률</div>
        <div class="wrapper3" id = "qnt" style="position: absolute; left:57vw; color:red;">
            <% if(monitor) {%>
                <%= (monitor.cnt/order[0].total).toFixed(2)%>%
            <%}%>
        </div>
        <div class="wrapper3" style="position: absolute; left:68vw; color:rgb(255, 192, 0);">불량률</div>
        <div class="wrapper3" id = "def" style="position: absolute; left:79vw; color:red;">
            <% if(monitor) {%>
                <%= (monitor.def/monitor.cnt).toFixed(2)%>%
            <%}%>
        </div>
    </div>

    <!-- 시작/종료/정지/입력 버튼 -->
    <button type="button" id = "onoff" class="btn btn-light" style="width:9vw; height:7vh; position: absolute; right:11vw; top:21.5vh; font-size:1.2em;"
        onclick="start()" disabled>
        <b>ON/OFF</b>
    </button>
    <button type="button" class="btn btn-danger" style="width:9vw; height:7vh; position: absolute; right:11vw; top:30.5vh; font-size:1.2em;"
        onclick="stop()">
        <b>비상정지</b>
    </button>

    <!-- 금형온도 -->
    <div class="wrapper" style="position: absolute; top: 45vh; left:7.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw;text-align: center; color:white; line-height: 4.5vh;"><b>금형
                온도</b></div>
        <img src="/img/temp.png" class="blink" style="width:5vw; height:11vh; position:absolute; left:1vw; top:9.5vh;">
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">25</div>
        <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
        <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_mold_temp" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.mold_temp%>
            <% } %>
        </div>
    </div>
    <!-- 용융온도 -->
    <div class="wrapper" style="position: absolute; top: 45vh; left:30.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;"><b>용융
                온도</b></div>
        <img src="/img/temp.png" style="width:5vw; height:5vw; position:absolute; left:1vw; top:9.5vh;">
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">276</div>
        <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
        <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_melt_temp" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.melt_temp%>
            <% } %>
        </div>
    </div>
    </div>
    <!-- 사출속도 -->
    <div class="wrapper" style="position: absolute; top: 45vh; left:53.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
            <b>사출속도</b></div>
        <img src="/img/sp.png" style="width:5vw; height:11vh; position:absolute; left:1vw; top:9.5vh;">
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">55</div>
        <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
        <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_injection_speed" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.injection_speed%>
            <% } %>
        </div>
    </div>
    </div>
    <!-- 보압 -->
    <div class="wrapper" style="position: absolute; top: 45vh; left:76.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
            <b>보압</b></div>
        <img src="/img/pr.png" style="width:5.5vw; height:11vh; position:absolute; left:1vw; top:9.5vh;">
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">130</div>
        <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
        <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_hold_pressure" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.hold_pressure%>
                    <% } %>
        </div>
    </div>
    </div>
    <!-- 사출시간 -->
    <div class="wrapper" style="position: absolute; top: 72vh; left:7.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
            <b>사출시간</b></div>
            <img src="/img/tm.png" style="width:5vw; height:5vw; position:absolute; left:1vw; top:9.5vh;">
            <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
            <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">9.5</div>
            <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
            <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
            <div id="now_injection_time" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
                <% if(monitor){%>
                    <%= monitor.injection_time%>
                        <% } %>
            </div>
    </div>
    </div>
    <!-- 보압시간 -->
    <div class="wrapper" style="position: absolute; top: 72vh; left:30.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
            <b>보압시간</b></div>
            <img src="/img/tm.png" style="width:5vw; height:5vw; position:absolute; left:1vw; top:9.5vh;">
            <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
            <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">7</div>
            <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
            <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_hold_time" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.hold_time%>
                    <% } %>
        </div>
    </div>
    </div>
    <!-- 배압시간 -->
    <div class="wrapper" style="position: absolute; top: 72vh; left:53.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
            <b>배압시간</b></div>
        <img src="/img/tm.png" style="width:5vw; height:5vw; position:absolute; left:1vw; top:9.5vh;">
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">4.5</div>
        <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
        <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_filling_time" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.filling_time%>
                    <% } %>
        </div>
    </div>
    </div>
    <!-- 총시간 -->
    <div class="wrapper" style="position: absolute; top: 72vh; left:76.35vw; color:white; font-weight: 1000;">
        <div class="wrapper1"
            style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
            <b>총시간</b></div>
        <img src="/img/tm.png" style="width:5vw; height:5vw; position:absolute; left:1vw; top:9.5vh;">
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">최적값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">60</div>
        <div class="sep" style="position: absolute; top:14.5vh; left:8vw;"></div>
        <div style="position: absolute; top:17.5vh; left:9vw; font-size: large; color:white;">현재값</div>
        <div id="now_cycle_time" style="position: absolute; top:17.5vh; left:15vw; font-size: large; color:white;">
            <% if(monitor){%>
                <%= monitor.cycle_time%>
                    <% } %>
        </div>
    </div>

    <script>
        $(function () {
            if ("<%=linkcode%>" == 0) {
                $("#linkcode").text("관리자")
            } else {
                $("#linkcode").text("작업자")
            }

            if ("<%=dir%>" == "true") {
                $("#onoff").removeAttr("disabled")
            }else{
                $("#onoff").attr("disabled", "disabled")
            }

            if ("<%=run%>" == "true"){
                start()
            }
        })
        var set = "";
        function clicked(c) {
            set = c;
        }
        function add(char) {
            $(set).append(char)
        }
        function reset() {
            $(set).text("")
        }
        function del() {
            var c = document.getElementById(set.slice(1)).innerText
            $(set).text(c.slice(0, -1))
        }
        $(".display").click(function (e) {
            $("#keyboard").css("left", e.pageX + "px")
            $("#keyboard").css("top", e.pageY + "px")
            $("#keyboard").show()
        })
        $("#ok").click(function () {
            $("#keyboard").hide()
        })

        //alert 보여주기
        // if($("alertI").css("display")=="none"){
        //     if("#defect" > 0){
        //         $("alertI").show(); //none 일 때
        //     }
        // }else{
        //     $("alertI").hide(); //block 일 때
        // }



    </script>

</body>

</html>