<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>
        <script>      
            function add(char){
                var display = document.getElementById('display');
                display.value += char; 
            }
            function reset(){
                document.getElementById('display').value = "";
            }            
        </script>
        <style>
            #display{
                width : 50px;
            }
            #td{
                height:20px;
            }
        </style>
    </head>
    
    <body>
        <!-- 진행 단계 -->
        <div id="osj2-container">
            <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 400px; line-height: 60px; font-size: 20px;">준비</div>
        </div>
        <div id="osj2-container">
            <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 580px; line-height: 60px; font-size: 20px;">사출</div>
        </div>
        <div id="osj2-container">
            <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 760px; line-height: 60px; font-size: 20px;">배압</div>
        </div>
        <div id="osj2-container">
            <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 940px; line-height: 60px; font-size: 20px;">보압</div>
        </div>
        <div id="osj2-container">
            <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 1120px; line-height: 60px; font-size: 20px;">분리</div>
        </div>

        <!-- 시작/종료 버튼 -->
        <button type="button" class="btn btn-primary" style="position: absolute; top: 200px; left:370px; width: 100px;" onclick="start()">START</button>
        <button type="button" class="btn btn-danger" style="position: absolute; top: 250px; left:370px; width: 100px;" onclick="stop()">비상정지</button>

        <!-- 테이블 -->
        <div style="position:absolute; top: 80px; margin-left:50px; width:300px; line-height: 25px;">
            <table id="condition-value" class="table table-bordered border-primary table-hover">
                <thead>
                    <tr>
                        <td colspan="4">조건값</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>최적값</th>
                        <th>입력값</th>
                        <th>현재값</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>금형온도</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_mold_temp">
                            <% if(monitor){%>
                                <%= monitor.mold_temp%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>용융온도</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_melt_temp">
                            <% if(monitor){%>
                                <%= monitor.melt_temp%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>사출속도</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_injection_speed">
                            <% if(monitor){%>
                                <%= monitor.injection_speed%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>보압</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_hold_pressure">
                            <% if(monitor){%>
                                <%= monitor.hold_pressure%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>사출시간</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_injection_time">
                            <% if(monitor){%>
                                <%= monitor.injection_time%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>보압시간</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_hold_time">
                            <% if(monitor){%>
                                <%= monitor.hold_time%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>배압시간</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_filling_time">
                            <% if(monitor){%>
                                <%= monitor.filling_time%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>총시간</td>
                        <td>3</td>
                        <td><input type=text id="display"></td>
                        <td id="now_cycle_time">
                            <% if(monitor){%>
                                <%= monitor.cycle_time%>
                            <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- 자판 -->
        <table class="table table-bordered" style="border-color: black; position:absolute; margin-left:360px; margin-top:340px; table-layout: fixed; width:120px">
            <tr>
                <td onclick="add(1)">1</td>
                <td onclick="add(2)">2</td>
                <td onclick="add(3)">3</td>
            </tr>
            <tr>
                <td onclick="add(4)">4</td>
                <td onclick="add(5)">5</td>
                <td onclick="add(6)">6</td>
            </tr>
            <tr>
                <td onclick="add(7)">7</td>
                <td onclick="add(8)">8</td>
                <td onclick="add(9)">9</td>
            </tr>
            <tr>
                <td onclick="add(0)">0</td>
                <td onclick="add('.')">.</td>
                <td onclick="reset()">AC</td>
            </tr>
            <tr>
                <td colspan="3">OK</td>
            </tr>
        </table>

        <!-- 차트 -->
        <div style="border:2px solid black; position: absolute; width: 200px; height: 220px; margin-top: 370px; right:50px;">
            <canvas id="myChart"></canvas>
        </div>

        <script>
            const DATA_COUNT = 5;
            const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

            const data = {
                labels: ['양품', '불량품'],
                datasets: [
                    {
                        label: 'Dataset 1',
                        data: [90, 10],
                        backgroundColor: ['royalblue', 'orangered'],
                        hoverOffset: 5
                    }
                ]
            };
            const config = {
                type: 'doughnut',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '제품 상태',
                    }
                    }
                },
            };
            var myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
            var show = true
        </script>

        <div style="padding-top: 200px; margin-left:550px;">
            <img style="width: 400px; height:250px" src="/img/motion.gif">
        </div>
    </body>
</html>