<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>
        <style>
            #condition-value{
                width: 500px;
                height: 420px;
            }
            .wrapper {
                height:12rem;
                width:20rem;
                background-color: rgb(68,84,106);
            }   
            .wrapper1{
                height:2rem;
                width:19rem;
                border:0.1em solid white;
            }
            #keyboard{
                display: none;
                background-color: rgb(68,84,106);
                color: white; 
                position:absolute; 
                left:500px; 
                top:200px; 
                table-layout: fixed; 
                width:120px;
            }
        </style>
    </head>
    
    <body style="background-color: rgb(34, 42, 53);">
        <!-- 시작/종료 버튼 -->
        <button type="button" class="btn btn-primary" style="position: fixed; top: 30rem; left:28rem; width: 100px;" onclick="start()">START</button>
        <button type="button" class="btn btn-danger" style="position: fixed; top: 33rem; left:28rem; width: 100px;" onclick="stop()">비상정지</button>

        <!-- 조건 테이블 -->
            <table id="condition-value" class="table table-bordered" style="position:fixed; top: 0.5em; left:7em; width:20em; line-height: 1em; background-color: rgb(68,84,106); color:white; font-weight: 500;">
                <thead>
                    <tr>
                        <td colspan="4"><b>조건값</b></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>최적값</th>
                        <th>입력값</th>
                        <th>현재값</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>금형온도</b></td>
                        <td>3</td>
                        <td class="display" id="set_mold_temp" onclick="clicked('#set_mold_temp')"></td>
                        <td id="now_mold_temp">
                            <% if(monitor){%>
                                <%= monitor.mold_temp%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>용융온도</b></td>
                        <td>3</td>
                        <td class="display" id="set_melt_temp" onclick="clicked('#set_melt_temp')"></td>
                        <td id="now_melt_temp">
                            <% if(monitor){%>
                                <%= monitor.melt_temp%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>사출속도</b></td>
                        <td>3</td>
                        <td class="display" id="set_injection_speed" onclick="clicked('#set_injection_speed')"></td>
                        <td id="now_injection_speed">
                            <% if(monitor){%>
                                <%= monitor.injection_speed%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>보압</b></td>
                        <td>3</td>
                        <td class="display" id="set_hold_pressure" onclick="clicked('#set_hold_pressure')"></td>
                        <td id="now_hold_pressure">
                            <% if(monitor){%>
                                <%= monitor.hold_pressure%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>사출시간</b></td>
                        <td>3</td>
                        <td class="display" id="set_injection_time" onclick="clicked('#set_injection_time')"></td>
                        <td id="now_injection_time">
                            <% if(monitor){%>
                                <%= monitor.injection_time%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>보압시간</b></td>
                        <td>3</td>
                        <td class="display" id="set_hold_time" onclick="clicked('#set_hold_time')"></td>
                        <td id="now_hold_time">
                            <% if(monitor){%>
                                <%= monitor.hold_time%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>배압시간</b></td>
                        <td>3</td>
                        <td class="display" id="set_filling_time" onclick="clicked('#set_filling_time')"></td>
                        <td id="now_filling_time">
                            <% if(monitor){%>
                                <%= monitor.filling_time%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>총시간</b></td>
                        <td>3</td>
                        <td class="display" id="set_cycle_time" onclick="clicked('#set_cycle_time')"></td>
                        <td id="now_cycle_time">
                            <% if(monitor){%>
                                <%= monitor.cycle_time%>
                            <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
        
        <!-- 자판  -->
        <table class="table table-bordered " id="keyboard">
            <tr>
                <td onclick="add(1)">1</td>
                <td onclick="add(2)">2</td>
                <td onclick="add(3)">3</td>
            </tr>
            <tr>
                <td onclick="add(4)">4</td>
                <td onclick="add(5)">5</td>
                <td onclick="add(6)">6</td>
            </tr>
            <tr>
                <td onclick="add(7)">7</td>
                <td onclick="add(8)">8</td>
                <td onclick="add(9)">9</td>
            </tr>
            <tr>
                <td onclick="reset()">AC</td>
                <td onclick="add(0)">0</td>
                <td onclick="add('.')">.</td>
            </tr>
            <tr>
                <td colspan="2" id="ok">OK</td>
                <td onclick="del()">←</td>
            </tr>
        </table>        
        <%- include("./chart.ejs") %>
        
        <!-- 진행 단계 -->
        <div class="wrapper" style="width: 41rem; position: absolute; margin-top: 25.5em; right:4em; color:white; font-weight: 1000;">
            <div class="wrapper1" style="width:98%; position:absolute; top:0.3em; left:1%;"></div>
            <div id="osj2-container">
                <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 4rem; line-height: 60px; font-size: 20px;">준비</div>
            </div>
            <div id="osj2-container">
                <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 11rem; line-height: 60px; font-size: 20px;">사출</div>
            </div>
            <div id="osj2-container">
                <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 18rem; line-height: 60px; font-size: 20px;">배압</div>
            </div>
            <div id="osj2-container">
                <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 25rem; line-height: 60px; font-size: 20px;">보압</div>
            </div>
            <div id="osj2-container">
                <div align="center" id="osj2-spinner" style="position: fixed; margin-top: 90px; margin-left: 32rem; line-height: 60px; font-size: 20px;">분리</div>
            </div>
        </div>

        <div style="padding-top: 27rem; margin-left:7em;">
            <img style="width: 20rem; height:10rem" src="/img/motion.gif">
        </div>

        <script>
            var set = "";
            function clicked(c){
                set = c;
            }
            function add(char){
                $(set).append(char)
            }
            function reset(){
                $(set).text("")
            }
            function del(){
                var c = document.getElementById(set.slice(1)).innerText
                $(set).text(c.slice(0,-1))
            }
            $(".display").click(function(e){
                $("#keyboard").css("left", e.pageX+"px")
                $("#keyboard").css("top", e.pageY+"px")
                $("#keyboard").show()
            })
            $("#ok").click(function(){
                $("#keyboard").hide()
            })
            
        </script>
    </body>
</html>