<!DOCTYPE html>
<html>

<head>
    <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>

        <style>
            .wrapper {
                height: 25.5vh;
                width: 22.5vw;
                background-color: rgb(71, 74, 95);
            }

            .wrapper1 {
                height: 4.5vh;
                width: 21.9vw;
                background-color: rgba(165, 171, 212, 0.603);
            }

            /* .wrapper2 {
                height: 10vh;
                width: 91.35vw;
                background-color: rgb(71, 74, 95);
            } */

            .wrapper3 {
                height: 8vh;
                width: 10vw;
                border-radius: 0.5em;
                position: absolute;
                border: 0.3vh solid white;
                position: absolute;
                top: 1vh;
                text-align: center;
                line-height: 7.5vh;
                font-size: x-large;
                color: white;
            }

            .sep {
                width: 11.5vw;
                background-color: white;
                border: solid 0.1vh white;

            }
            /* .jb1{
                width: 12vw;
                top:21.3vh;
                height: 6vh;
                border: solid 0.8vh yellow;
                transition-timing-function: step-start;
                transition-duration: 100s;


            }
            .jb2{
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh yellow;
                transition-timing-function: step-start;
                transition-duration: 100s;

            } */
            
            .box1 {
                width: 12vw;
                top:20vh;
                height: 6vh;
                border: solid 0.8vh yellow;
                /* color: linear-gradient(to right bottom, gray, navy); */

            }


            .box2 {
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh yellow;
                /* color: linear-gradient(to right bottom, gray, navy); */
 
            }
            @keyframes example{
            /* A상태에서 B 상태로 */
                from { /* A */
                    background-color: green;
                }
                to { /* B */
                    background-color: red;
                }
            }

            .box3 {
                width: 12vw;
                top:20vh;
                height: 6vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }

            .box4 {
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }
            .dong {
                border-radius:50%;
                width:100px;
                height:100px;
                position:absolute; 
                left:1vw; 
                top:8vh;
                border:4px solid white;
            }
            .unit {
                position: absolute; 
                left:25px; 
                top:80px; 
                font-size: x-large; 
                color:white
            }
            /* .box5 {
                width: 12vw;
                top:20vh;
                height: 6vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }

            .box6 {
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }
            .box7 {
                width: 12vw;
                top:20vh;
                height: 6vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }

            .box8 {
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }
            .box9 {
                width: 12vw;
                top:21.3vh;
                height: 6vh;
                border: solid 0.8vh rgb(180, 195, 216);
            }

            .box10 {
                width: 12vw;
                height: 10vh;
                border: solid 0.8vh rgb(180, 195, 216);
            } */


            .sep2 {
                width: 12vw;
                background-color: white;
                border: solid 0.2vh white;
            }
            /* .modal_wrap {
                display: none;
                width: 400px;
                height: 320px;
                position: absolute;
                margin: -200px 0 0 -200px;
                background: rgb(210, 215, 221);
                z-index: 2;
            }
            .black_bg{
                display: none;
                position: fixed;
                top:0; left: 0; bottom: 0; right: 0;
                background: rgba(0, 0, 0, 0.8);
                z-index : 1;
            } */
            .modal_close {
                color: white;
                width: 4.5vw;
                height: 6vh;
                position: absolute;
                bottom: 2.5vw;
                right: 8.5vw;
                text-indent: -2.5vw;

            }
            .modal_close>a {
                display: block;
                color: white;
                width: 5vw;
                height: 5vh;
                text-indent: -2.5vw;
            }
            .input-group {
                width: 15.5vw;
                text-align: center;
                background-color: rgb(173, 185, 202);
            }

            .input-group2 {
                width: 18vw;
                text-align: center;
                background-color: rgb(173, 185, 202);
            }

            .input-group-text {
                border-radius: 0;
                width: 4vw;
            }
            
            #main_icon{
                background-color: var(--first-color);
            }
            /* .blinking{ -webkit-animation:blink 1.5s ease-in-out infinite alternate; 
                    -moz-animation:blink 1.5s ease-in-out infinite alternate; 
                    animation:blink 1.5s ease-in-out infinite alternate;
            }
            @-webkit-keyframes blink{ 
                0% {opacity:0;} 
                100% {opacity:1;} 
            } 
            @-moz-keyframes blink{
                 0% {opacity:0;}
                  100% {opacity:1;}
            } 
            @keyframes blink{
                 0% {opacity:0;}
                  100% {opacity:1;}
            }

            #test {
                animation: fadein 2s;
                -moz-animation: fadein 2s;
                -webkit-animation: fadein 2s; 
                -o-animation: fadein 2s; 
            }
            @keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-moz-keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-webkit-keyframes fadein 
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
            @-o-keyframes fadein {
                from {
                    opacity:0;
                }
                to {
                    opacity: 1;
                }
            } */

            /* 
            #keyboard{
                display: none;
                background-color: rgb(68,84,106);
                color: white; 
                position:absolute; 
                left:500px; 
                top:200px; 
                table-layout: fixed; 
                width:120px;
            }
            .btn{
                width:6.5rem; 
                height:2.5rem; 
                position:absolute; 
                bottom:0.3rem; 
                line-height: 1em;
            }
            
             */
            .uniti {
                position:absolute; 
                left:2.5vw; 
                top: 8vh; 
                font-size: x-large;
            }
            .inputn {
                position: absolute; 
                top:13.5vh; 
                left:15.5vw; 
                font-size: large; 
                color:white;
            }
             .alertI{
                display : none;
             }
        </style>
</head>

<body style="background-color: rgb(41, 43, 48); overflow-x: hidden; overflow-y:hidden;">

    <!-- 자판  -->
    <!-- <table class="table table-bordered " id="keyboard">
        <tr>
            <td onclick="add(1)">1</td>
            <td onclick="add(2)">2</td>
            <td onclick="add(3)">3</td>
        </tr>
        <tr>
            <td onclick="add(4)">4</td>
            <td onclick="add(5)">5</td>
            <td onclick="add(6)">6</td>
        </tr>
        <tr>
            <td onclick="add(7)">7</td>
            <td onclick="add(8)">8</td>
            <td onclick="add(9)">9</td>
        </tr>
        <tr>
            <td onclick="reset()">AC</td>
            <td onclick="add(0)">0</td>
            <td onclick="add('.')">.</td>
        </tr>
        <tr>
            <td colspan="2" id="ok">OK</td>
            <td onclick="del()">←</td>
        </tr>
    </table> -->

    <!--결함발생 alert -->
    <div class="alertI">
        <img src="/img/alert.WEBP" style="width:6vw; height:10vh; position:absolute; right:3vw; top:32vh;">
    </div>


    <!-- BOX -->
    <div id="b1" >
        <div align="center" class="box1"
            style="position: absolute; top:20vh; left:10vw; font-size: 1.2em; color: white; text-align:center; line-height: 5vh;">1</div>
        <div align="center" class="box2"
            style="position: absolute; top:25vh; left:10vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;"> Ready</div>
    </div>

    <div id="b2">
        <div align="center" class="box3" 
            style="position: absolute; top:20vh; left:24vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">2</div>
        <div align="center" class="box4"
            style="position: absolute; top:25vh; left:24vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">Injecting</div>
    </div>

    <div id="b3">
        <div align="center" class="box3" 
            style="position: absolute; top:20vh; left:38vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">3</div>
        <div align="center" class="box4"
            style="position: absolute; top:25vh; left:38vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;"> Filling</div>
    </div>

    <div id="b4">
        <div align="center" class="box3"
            style="position: absolute; top:20vh; left:52vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;">4</div>
        <div align="center" class="box4"
            style="position: absolute; top:25vh; left:52vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;">Holding</div>
    </div>

    <div id="b5">
        <div align="center" class="box3"
            style="position: absolute; top:20vh; left:66vw; font-size: 1.2em; color:white; text-align:center; line-height: 5vh;"> 5</div>
        <div align="center" class="box4"
            style="position: absolute; top:25vh; left:66vw; font-size: 1.2em; color:white; text-align:center; line-height: 9vh;"> Seperating</div>
    </div>


    <!-- wrapper2 상단바 -->
    <div class="wrapper_nav" style="position: absolute; top: 5vh; left:6.35vw; color:white; text-align:center; font-weight: 1000;">
        <div class="wrapper3" style="position: absolute; left:2vw;">생산목표</div>
        <div class="wrapper3" style="position: absolute; left:13vw;">
            <% if(dir){%>
                <%= order[0].total%>
            <%}%>
        </div>
        <div class="wrapper3" style="position: absolute; left:24vw;">생산실적</div>
        <div class="wrapper3" id = "cnt" style="position: absolute; left:35vw;">
            <% if(monitor){%>
                <%= monitor.cnt%>
            <% } %>
        </div>
        <div class="wrapper3" style="position: absolute; left:46vw;">달성률</div>
        <div class="wrapper3" id = "qnt" style="position: absolute; left:57vw;">
            <% if(monitor) {%>
                <%= (monitor.cnt/order[0].total).toFixed(2)*100%>%
            <%}%>
        </div>
        <div class="wrapper3" style="position: absolute; left:68vw;">불량률</div>
        <div class="wrapper3" id = "def" style="position: absolute; left:79vw; color:red;">
            <% if(monitor) {%>
                <%= (monitor.def/monitor.cnt).toFixed(2)*100%>%
            <%}%>
        </div>
    </div>

    <!-- 시작/종료/정지/입력 버튼 -->
    <button type="button" id = "onoff" class="btn btn-light" style="width:9vw; height:7vh; position: absolute; right:8vw; top:20vh; font-size:1.2em;"
        onclick="start()" disabled>
        <b>ON/OFF</b>
    </button>
    <button type="button" class="btn btn-danger" style="width:9vw; height:7vh; position: absolute; right:8vw; top:28vh; font-size:1.2em;"
        onclick="stop()">
        <b>비상정지</b>
    </button>

    <!-- 모달 -->
    <div class="black_bg"></div>
    <div class="modal_wrap modal_name" style="height:5vh; top: 20vh; background-color: rgb(151, 161, 170);"></div>
    <div class="modal_wrap">
        <div class="modal_box1" style="top:5vh;"><b>상한값</b></div>
        <div class="modal_box2" style="top:5vh;" id="ucl"></div>
        <div class="modal_box1" style="top:11.4vh;"><b>추천최적값</b></div>
        <div class="modal_box2" style="top:11.4vh;" id="cl"></div>
        <div class="modal_box1" style="top:17.8vh;"><b>하한값</b></div>
        <div class="modal_box2" style="top:17.8vh;" id="lcl"></div>
        <div class="modal_box1" style="top:24.2vh;"><b>입력값</b></div>            
        <input type="text" class="modal_box2" id="set" style="top:24.2vh; border:none;">
        <div align="center">
            <button class="btn btn-secondary" style="position:absolute; bottom: 2vh; left: 9vw; width:4.6vw; 
            height:5.6vh; font-size:large; line-height: 4vh;" id="register"><b>등록</b></button>
            <button class="modal_close btn btn-secondary" style="position:absolute; bottom: 2vh; right: 9vw;
            width:4.6vw; height:5.6vh; display:inline-block; text-indent: 0px; line-height: 4vh; font-size:large"><b>취소</b></button>
        </div>
    </div>

    <!-- 용융온도 -->
    <div class="wrapper modal_btn" onclick="modal('melt')" style="position: absolute; top: 41vh; left:6vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw;text-align: center; color:white; line-height: 4.5vh;"><b>용융 온도</b></div>
        <div class="dong">
            <div class="uniti" >°C</div>
        </div>
        <div class="unit" id="now_melt_temp">            
            <% if(monitor){%>
                <%= monitor.melt_temp%>
            <% } %>
        </div>
        <div style="position: absolute; top:7vh; left:9vw; font-size: large; color:white;">기준값</div>
        <div style="position: absolute; top:7vh; left:16vw; font-size: large; color:white;">11</div>
        <div class="sep" style="position: absolute; top:11.75vh; left:8vw;"></div>
        <div style="position: absolute; top:13.5vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div class="inputn" id="set_melt">
            <% if(setup){%>
                <%=setup.melt_temp%>
            <%}%>
        </div>
    </div>
    <!-- 금형온도 -->
    <div class="wrapper modal_btn" onclick="modal('mold')" style="position: absolute; top: 41vh; left:29vw; color:white; font-weight: 1000;">   
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw;text-align: center; color:white; line-height: 4.5vh;"><b>금형 온도</b></div>
        <div class="dong">
            <div class="uniti">°C</div>
        </div>
        <div class="unit" id="now_mold_temp">
            <% if(monitor){%>
                <%= monitor.mold_temp%>
            <% } %>
        </div>
        <div style="position: absolute; top:7vh; left:9vw; font-size: large; color:white;">기준값</div>
        <div style="position: absolute; top:7vh; left:16vw; font-size: large; color:white;">11</div>
        <div class="sep" style="position: absolute; top:11.75vh; left:8vw;"></div>
        <div style="position: absolute; top:13.5vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div class="inputn" id="set_mold">
            <% if(setup){%>
                <%=setup.mold_temp%>
            <%}%>
        </div>
    </div>

    <!-- 사출속도 -->
    <div class="wrapper modal_btn" onclick="modal('inj')" style="position: absolute; top: 41vh; left:52vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;"><b>사출속도</b></div>
        <div class="dong">
            <div class="uniti" style="left:1.5vw; font-size:large">mm/s</div>
        </div>
        <div class="unit" id="now_injection_speed">
            <% if(monitor){%>
                <%= monitor.injection_speed%>
            <% } %>
        </div>
        <div style="position: absolute; top:7vh; left:9vw; font-size: large; color:white;">기준값</div>
        <div style="position: absolute; top:7vh; left:16vw; font-size: large; color:white;">11</div>
        <div class="sep" style="position: absolute; top:11.75vh; left:8vw;"></div>
        <div style="position: absolute; top:13.5vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div class="inputn" id="set_inj">
            <% if(setup){%>
                <%=setup.injection_speed%>
            <%}%>
        </div>
    </div>
    </div>
    <!-- 보압 -->
    <div class="wrapper modal_btn" onclick="modal('hold')" style="position: absolute; top: 41vh; left:75vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; 
        line-height: 4.5vh;"><b>보압</b></div>
        <div class="dong">
            <div class="uniti" style="left:0.5vw; font-size:15px;">kgf/cm^3</div>
        </div>
        <div class="unit" id="now_hold_pressure">
            <% if(monitor){%>
                <%= monitor.hold_pressure%>
            <% } %>
        </div>
        <div style="position: absolute; top:7vh; left:9vw; font-size: large; color:white;">기준값</div>
        <div style="position: absolute; top:7vh; left:16vw; font-size: large; color:white;">11</div>
        <div class="sep" style="position: absolute; top:11.75vh; left:8vw;"></div>
        <div style="position: absolute; top:13.5vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div class="inputn" id="set_hold">
            <% if(setup){%>
                <%=setup.hold_pressure%>
            <%}%>
        </div>
    </div>
    </div>

    <!-- 사출시간 -->
    <div class="wrapper" style="position: absolute; top: 68vh; left:6vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; 
        line-height: 4.5vh;"><b>사출시간</b></div>
        <div class="dong">
            <div class="uniti" style="left:25px">sec</div>
        </div>
        <div class="unit" id="now_injection_time">
            <% if(monitor){%>
                <%= monitor.injection_time%>
            <% } %>
        </div>        
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">9.5</div>
    </div>

    <!-- 보압시간 -->
    <div class="wrapper" style="position: absolute; top: 68vh; left:29vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;">
        <b>보압시간</b></div>
        <div class="dong">
        <div class="uniti" style="left:25px">sec</div>
        </div>
        <div class="unit" id="now_hold_time">
            <% if(monitor){%>
                <%= monitor.hold_time%>
            <% } %>
        </div>        
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">9.5</div>
    </div>
    </div>
    <!-- 배압시간 -->
    <div class="wrapper" style="position: absolute; top: 68vh; left:52vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; 
        line-height: 4.5vh;"><b>배압시간</b></div>
        <div class="dong">
            <div class="uniti" style="left:25px">sec</div>
        </div>
        <div class="unit" id="now_filling_time">
            <% if(monitor){%>
                <%= monitor.filling_time%>
            <% } %>
        </div>        
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">9.5</div>
    </div>
    </div>
    <!-- 총시간 -->
    <div class="wrapper" style="position: absolute; top: 68vh; left:75vw; color:white; font-weight: 1000;">
        <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; 
        line-height: 4.5vh;"><b>총시간</b></div>
        <div class="dong">
            <div class="uniti" style="left:25px">sec</div>
        </div>
        <div class="unit" id="now_cycle_time">
            <% if(monitor){%>
                <%= monitor.cycle_time%>
            <% } %>
        </div>        
        <div style="position: absolute; top:8vh; left:9vw; font-size: large; color:white;">입력값</div>
        <div style="position: absolute; top:8vh; left:15vw; font-size: large; color:white;">9.5</div>
    </div>

    <script>
        $(function () {
            if ("<%=linkcode%>" == 0) {
                $("#linkcode").text("관리자")
            } else {
                $("#linkcode").text("작업자")
            }

            if (("<%=dir%>" == "true") && $("#set_melt").text().trim()!=""
            && $("#set_mold").text().trim()!="" && $("#set_inj").text().trim()!=""
            && $("#set_hold").text().trim()!=""){
                $("#onoff").removeAttr("disabled")
            }else{
                $("#onoff").attr("disabled", "disabled")
            }

            if ("<%=run%>" == "true"){
                start()
            }
        })
        var set = "";
        function clicked(c) {
            set = c;
        }
        function add(char) {
            $(set).append(char)
        }
        function reset() {
            $(set).text("")
        }
        function del() {
            var c = document.getElementById(set.slice(1)).innerText
            $(set).text(c.slice(0, -1))
        }
        $(".display").click(function (e) {
            $("#keyboard").css("left", e.pageX + "px")
            $("#keyboard").css("top", e.pageY + "px")
            $("#keyboard").show()
        })
        $("#ok").click(function () {
            $("#keyboard").hide()
        })

        $(".modal_btn").click(function () {
            $(".modal_wrap").css("display", "block")
            $(".black_bg").css("display", "block")
        })

        $(".modal_close").click(function () {
            $(".modal_wrap").css("display", "none")
            $(".black_bg").css("display", "none")
        })
        function modal(name){
            if (name == "melt"){
                $("#ucl").text((parseFloat("<%=melt[0]%>")+2*parseFloat("<%=melt[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=melt[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=melt[0]%>")-2*parseFloat("<%=melt[1]%>")).toFixed(2))
                $(".modal_name").text("용융온도")
            }else if (name == "mold"){
                $("#ucl").text((parseFloat("<%=mold[0]%>")+2*parseFloat("<%=mold[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=mold[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=mold[0]%>")-2*parseFloat("<%=mold[1]%>")).toFixed(2))
                $(".modal_name").text("금형온도")
            }else if (name == "hold"){
                $("#ucl").text((parseFloat("<%=hold[0]%>")+2*parseFloat("<%=hold[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=hold[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=hold[0]%>")-2*parseFloat("<%=hold[1]%>")).toFixed(2))
                $(".modal_name").text("보압")
            }else{
                $("#ucl").text((parseFloat("<%=inj[0]%>")+2*parseFloat("<%=inj[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=inj[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=inj[0]%>")-2*parseFloat("<%=inj[1]%>")).toFixed(2))
                $(".modal_name").text("사출속도")
            }
        }

        $("#register").click(function(){
            var name = $(".modal_name").text();
            var set = $("#set").val();
            location.href = "/register?name="+name+"&set="+set
        })

    </script>

</body>

</html>