<!DOCTYPE html>
<html>

<head>
    <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>

        <style>
            .wrapper {
                position: absolute;
                height: 25.5vh;
                width: 23.1vw;
                background-color: rgb(52, 58, 63);
                color: white;
            }

            .wrapper1 {
                position: absolute;
                height: 5vh;
                width: 23.1vw;
                background-color: rgb(38, 43, 51);
                left: 0.3vw;
                text-align: center;
                font-size: 20px;
                line-height: 5vh;
                color: white;
            }

            .wrapper3 {
                position: absolute;
                left: 2vw;
                height: 7vh;
                width: 10vw;
                background-color: rgba(0, 255, 191, 0.226);
                text-align: center;
                line-height: 6.8vh;
                font-size: 20px;
                color: white;
            }

            .sep {
                width: 10vw;
                border: dotted 2px red;
                z-index: 2;
            }

            .pr_box1 {
                position: absolute;
                top: 4.5vh;
                width: 10vw;
                height: 5vh;
                /*border: solid 3px rgb(180, 195, 216);*/
                background-color: rgba(0, 255, 191, 0.178);
                font-size: 20px;
                color: white;
                text-align: center;
                line-height: 4.7vh;
            }

            .pr_box2 {
                position: absolute;
                top: 9vh;
                width: 10vw;
                height: 12vh;
                /*border: solid 3px rgb(180, 195, 216);*/
                background-color: rgba(0, 255, 191, 0.178);
                color: white;
                font-size: 20px;
                text-align: center;
                line-height: 11.5vh;
            }

            .pr_num {
                position: absolute;
                top: 15.3vh;
                font-size: 21px;
                color: white;
            }

            .dong {
                border-radius: 50%;
                width: 120px;
                height: 120px;
                position: absolute;
                left: 0.5vw;
                top: 4vh;
                border: 4px solid rgb(30, 255, 180);
            }

            .unit {
                position: absolute;
                left: 27px;
                top: 65px;
                font-size: 25px;
                color: white;
            }

            .sep {
                position: absolute;
                left: 10vw;
                width: 12vw;
                border-bottom: 2px dashed;
                border-color: lightgrey;
                border-left: none;
                border-right: none;
                border-top: none;
            }

            .modal_close {
                color: white;
                width: 4.5vw;
                height: 6vh;
                position: absolute;
                bottom: 2.5vw;
                right: 8.5vw;
                text-indent: -2.5vw;

            }

            .modal_close>a {
                display: block;
                color: white;
                width: 5vw;
                height: 5vh;
                text-indent: -2.5vw;
            }

            #main_icon {
                background-color: var(--first-color);
            }

            .uniti {
                position: absolute;
                left: 3.5vw;
                top: 10vh;
                font-size: 25px;
            }

            .inputn {
                position: absolute;
                top: 9.8vh;
                left: 17vw;
                font-size: x-large;
                color: white;
            }

            .alertI {
                display: none;
            }
        </style>
</head>

<body style="background-color: black; overflow-x: hidden; overflow-y:hidden;">

    <!-- 생산현황 -->
    <div class="wrapper1" style="top:4.7vh; left: 5.7vw;">생산현황</div>
    <div class="wrapper"
        style="position: absolute; height:57vh; top: 10vh; left:5.7vw; background-color:rgb(40, 44, 48);">

        <div class="wrapper3" style="top:9.8vh;">생산목표</div>
        <div style="position: absolute; left:15vw; top:11vh; font-size:x-large;">
            <b>
                <% if(dir){%>
                    <%= order[0].total%>
                        <%}%>
            </b>
        </div>
        <div class="wrapper3" style="top:20.1vh;">생산실적</div>
        <div id="cnt" style="position: absolute; top:21vh; left:15vw; font-size:x-large;">
            <b>
                <% if(monitor){%>
                    <%= monitor.cnt%>
                        <% } %>
            </b>
        </div>
        <div class="wrapper3" style="top:30.4vh;">달성률</div>
        <div id="qnt" style="position: absolute; top:31vh; left:15vw; font-size:x-large; color:rgb(53, 190, 71)">
            <b>
                <% if(monitor) {%>
                    <%= Math.round(monitor.cnt/order[0].total*100)%>%
                        <%}%>
            </b>
        </div>
        <div class="wrapper3" style="top:40.7vh;">불량률</div>
        <div id="def" style="position: absolute; top:41vh; left:15vw; font-size:x-large; color:rgb(199, 85, 43)">
            <b>
                <% if(monitor) {%>
                    <%= Math.round(monitor.def/monitor.cnt*100)%>%
                        <%}%>
            </b>
        </div>
    </div>

    <!--결함발생 alert -->
    <div class="alertI">
        <img src="/img/alert.WEBP" style="width:6vw; height:10vh; position:absolute; right:3vw; top:32vh;">
    </div>

    <!-- 모달 -->
    <div class="black_bg"></div>
    <div class="modal_wrap modal_name" style="height:5vh; top: 20vh; background-color: rgb(151, 161, 170); 
    font-size: 19px; line-height:5.3vh; font-weight: bold;"></div>
    <div class="modal_wrap">
        <div class="modal_box1" style="top:5vh;"><b>상한값</b></div>
        <div class="modal_box2" style="top:5vh;" id="ucl"></div>
        <div class="modal_box1" style="top:11.4vh;"><b>추천최적값</b></div>
        <div class="modal_box2" style="top:11.4vh;" id="cl"></div>
        <div class="modal_box1" style="top:17.8vh;"><b>하한값</b></div>
        <div class="modal_box2" style="top:17.8vh;" id="lcl"></div>
        <div class="modal_box1" style="top:24.2vh;"><b>입력값</b></div>
        <input type="text" class="modal_box2" id="set" style="top:24.2vh; border:none;">
        <div align="center">
            <button class="btn btn-secondary" style="position:absolute; bottom: 2vh; left: 9vw; width:4.6vw; 
            height:5.6vh; font-size:17px; line-height: 3.3vh;" id="register"><b>등록</b></button>
            <button class="modal_close btn btn-secondary"
                style="position:absolute; bottom: 2vh; right: 9vw;
            width:4.6vw; height:5.6vh; display:inline-block; text-indent: 0px; line-height: 3.3vh; font-size:17.5px"><b>취소</b></button>
        </div>
    </div>

    <!-- 용융온도 -->
    <div class="wrapper1" style="top:4.7vh; left: 29.2vw;">용융 온도</div>
    <div class="wrapper modal_btn" onclick="modal('melt')"
        style="position: absolute; top: 10vh; left:29.2vw; color:white;">
        <div class="dong" id="melt_box">
            <div class="uniti">°C</div>
        </div>
        <div class="unit" id="now_melt_temp">
            <% if(monitor){%>
                <%= monitor.melt_temp%>
                    <% } %>
        </div>
        <div style="position: absolute; top:3.2vh; left:13.5vw; font-size: medium; color:lightgrey;">UCL</div>
        <div style="position: absolute; top:3.2vh; left:16.5vw; font-size: medium; color:lightgrey;" id="melt_ucl">
        </div>
        <div class="sep" style="top:6.5vh;"></div>
        <div style="position: absolute; top:10vh; left:11vw; font-size: 22px; color:white;">Set-up</div>
        <div class="inputn" id="set_melt">
            <% if(setup){%>
                <%=setup.melt_temp%>
                    <%}%>
        </div>
        <div class="sep" style="top:18.5vh;"></div>
        <div style="position: absolute; top:18.8vh; left:13.5vw; font-size: medium; color:lightgrey;">LCL</div>
        <div style="position: absolute; top:18.8vh; left:16.5vw; font-size: medium; color:lightgrey;" id="melt_lcl">
        </div>
    </div>
    <!-- 금형온도 -->
    <div class="wrapper1" style="top:4.7vh; left: 52.7vw;">금형 온도</div>
    <div class="wrapper modal_btn" onclick="modal('mold')"
        style="position: absolute; top: 10vh; left:52.7vw; color:white;">
        <div class="dong" id="mold_box">
            <div class="uniti">°C</div>
        </div>
        <div class="unit" id="now_mold_temp">
            <% if(monitor){%>
                <%= monitor.mold_temp%>
                    <% } %>
        </div>
        <div style="position: absolute; top:3.2vh; left:13.5vw; font-size: medium; color:lightgrey;">UCL</div>
        <div style="position: absolute; top:3.2vh; left:16.5vw; font-size: medium; color:lightgrey;" id="mold_ucl">
        </div>
        <div class="sep" style="top:6.5vh;"></div>
        <div style="position: absolute; top:10vh; left:11vw; font-size: 22px; color:white;">Set-up</div>
        <div class="inputn" id="set_mold">
            <% if(setup){%>
                <%=setup.mold_temp%>
                    <%}%>
        </div>
        <div class="sep" style="top:18.5vh;"></div>
        <div style="position: absolute; top:18.8vh; left:13.5vw; font-size: medium; color:lightgrey;">LCL</div>
        <div style="position: absolute; top:18.8vh; left:16.5vw; font-size: medium; color:lightgrey;" id="mold_lcl">
        </div>
    </div>

    <!-- 사출속도 -->
    <div class="wrapper1" style="top:36.2vh; left: 29.2vw;">사출속도</div>
    <div class="wrapper modal_btn" onclick="modal('inj')"
        style="position: absolute; top: 41.5vh; left:29.2vw; color:white;">
        <div class="dong" id="inj_box">
            <div class="uniti" style="left:1.8vw; font-size:20px">mm/s</div>
        </div>
        <div class="unit" id="now_injection_speed">
            <% if(monitor){%>
                <%= monitor.injection_speed%>
                    <% } %>
        </div>
        <div style="position: absolute; top:3.2vh; left:13.5vw; font-size: medium; color:lightgrey;">UCL</div>
        <div style="position: absolute; top:3.2vh; left:16.5vw; font-size: medium; color:lightgrey;" id="inj_ucl"></div>
        <div class="sep" style="top:6.5vh;"></div>
        <div style="position: absolute; top:10vh; left:11vw; font-size: 22px; color:white;">Set-up</div>
        <div class="sep" style="top:18.5vh;"></div>
        <div style="position: absolute; top:18.8vh; left:13.5vw; font-size: medium; color:lightgrey;">LCL</div>
        <div style="position: absolute; top:18.8vh; left:16.5vw; font-size: medium; color:lightgrey;" id="inj_lcl">
        </div>
        <div class="inputn" id="set_inj">
            <% if(setup){%>
                <%=setup.injection_speed%>
                    <%}%>
        </div>
    </div>
    </div>
    <!-- 보압 -->
    <div class="wrapper1" style="top:36.2vh; left:52.7vw;">보압</div>
    <div class="wrapper modal_btn" onclick="modal('hold')"
        style="position: absolute; top: 41.5vh; left:52.7vw; color:white;">
        <div class="dong" id="hold_box">
            <div class="uniti" style="left:1.4vw; font-size:19px;">kgf/cm<sup>3</sup></div>
        </div>
        <div class="unit" id="now_hold_pressure">
            <% if(monitor){%>
                <%= monitor.hold_pressure%>
                    <% } %>
        </div>
        <div style="position: absolute; top:3.2vh; left:13.5vw; font-size: medium; color:lightgrey;">UCL</div>
        <div style="position: absolute; top:3.2vh; left:16.5vw; font-size: medium; color:lightgrey;" id="hold_ucl">
        </div>
        <div class="sep" style="top:6.5vh;"></div>
        <div style="position: absolute; top:10vh; left:11vw; font-size: 22px; color:white;">Set-up</div>
        <div class="sep" style="top:18.5vh;"></div>
        <div style="position: absolute; top:18.8vh; left:13.5vw; font-size: medium; color:lightgrey;">LCL</div>
        <div style="position: absolute; top:18.8vh; left:16.5vw; font-size: medium; color:lightgrey;" id="hold_lcl">
        </div>
        <div class="inputn" id="set_hold">
            <% if(setup){%>
                <%=setup.hold_pressure%>
                    <%}%>
        </div>
    </div>
    </div>

    <!-- 오늘의 날씨 -->
    <div class="wrapper1" style="top:4.7vh; left:76.2vw;">오늘 날씨</div>
    <div class="wrapper" id="weather"
        style="position: absolute; top: 10vh; left:76.2vw; background-color:rgb(40, 44, 48);">
    </div>
    <!-- 작업지시현황 -->
    <div class="wrapper1" style="top:36.2vh; left: 76.2vw;">작업지시현황</div>
    <div class="wrapper" style="position: absolute; top: 41.5vh; left:76.2vw; background-color:rgb(40, 44, 48);">
        <div class="wrapper3" style="top:4.5vh;">기업수주</div>
        <div style="position: absolute; left: 17vw; top:5vh; font-size: 25px;">
            <%=orders_qty%>
        </div>
        <div class="wrapper3" style="top:13.5vh;">작업지시</div>
        <div style="position: absolute; left: 17vw; top:14vh; font-size: 25px;">
            <%=order_qty%>
        </div>
    </div>

    <!-- 공정 프로세스 -->
    <div class="wrapper1" style="width:93.6vw; position:absolute; left:5.7vw; top:67.7vh; color:white;">공정 프로세스</div>
    <div class="wrapper"
        style="position:absolute; height:25vh; top:73vh; left:5.7vw; width:93.6vw; background-color:rgb(40, 44, 48);">
        <div id="b1">
            <div align="center" class="pr_box1" style="left:3vw; ">1</div>
            <div align="center" class="pr_box2" style="left:3vw; ">Ready</div>
        </div>
        <div id="b2">
            <div align="center" class="pr_box1" style="left:20vw;">2</div>
            <div align="center" class="pr_box2" style="left:20vw;">Injecting</div>
        </div>
        <div id="b3">
            <div align="center" class="pr_box1" style="left:37vw;">3</div>
            <div align="center" class="pr_box2" style="left:37vw;">Filling</div>
        </div>
        <div id="b4">
            <div align="center" class="pr_box1" style="left:54vw;">4</div>
            <div align="center" class="pr_box2" style="left:54vw;">Holding</div>
        </div>
        <div id="b5">
            <div align="center" class="pr_box1" style="left:71vw;"> 5</div>
            <div align="center" class="pr_box2" style="left:71vw;">Seperating</div>
        </div>

        <!-- 시작/종료/정지/입력 버튼 -->
        <button type="button" id="onoff" class="btn btn-light"
            style="color:black; width:8vw; height:6vh; position: absolute; right:1.5vw; top:6vh; font-size:22px; line-height:3vh;"
            onclick="start()" disabled>
            <b>ON/OFF</b>
        </button>
        <button type="button" class="btn btn-danger"
            style="width:8vw; height:6vh; position: absolute; right:1.5vw; top:13vh; font-size:20px; line-height:3.5vh;"
            onclick="stop()">
            <b>비상정지</b>
        </button>
    </div>

    <script>
        $(function () {
            if ("<%=linkcode%>" == 0) {
                $("#linkcode").text("관리자")
            } else {
                $("#linkcode").text("작업자")
            }

            if (("<%=dir%>" == "true") && $("#set_melt").text().trim() != ""
                && $("#set_mold").text().trim() != "" && $("#set_inj").text().trim() != ""
                && $("#set_hold").text().trim() != "") {
                $("#onoff").removeAttr("disabled")
            } else {
                $("#onoff").attr("disabled", "disabled")
            }



            $("#melt_ucl").text((parseFloat("<%=melt[0]%>") + 2 * parseFloat("<%=melt[1]%>")).toFixed(2))
            $("#melt_lcl").text((parseFloat("<%=melt[0]%>") - 2 * parseFloat("<%=melt[1]%>")).toFixed(2))
            $("#mold_ucl").text((parseFloat("<%=mold[0]%>") + 2 * parseFloat("<%=mold[1]%>")).toFixed(2))
            $("#mold_lcl").text((parseFloat("<%=mold[0]%>") - 2 * parseFloat("<%=mold[1]%>")).toFixed(2))
            $("#inj_ucl").text((parseFloat("<%=inj[0]%>") + 2 * parseFloat("<%=inj[1]%>")).toFixed(2))
            $("#inj_lcl").text((parseFloat("<%=inj[0]%>") - 2 * parseFloat("<%=inj[1]%>")).toFixed(2))
            $("#hold_ucl").text((parseFloat("<%=hold[0]%>") + 2 * parseFloat("<%=hold[1]%>")).toFixed(2))
            $("#hold_lcl").text((parseFloat("<%=hold[0]%>") - 2 * parseFloat("<%=hold[1]%>")).toFixed(2))

            let weatherIcon = {
                "01": `<ion-icon name='sunny-outline' style='position: absolute; width:150px; height:150px; left:2.5vw; top:3vh'></ion-icon>`,
                "02": `<ion-icon name="partly-sunny-outline" style='position: absolute; width:150px; height:150px; left:2.5vw; top:3vh'></ion-icon>`,
                "03": `<ion-icon name="cloudy-outline" style='position: absolute; width:130px; height:120px; left:2vw; top:3vh'></ion-icon>`,
                "04": `<i style='position:absolute; left:2.5vw; top:3vh'><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cloud" class="svg-inline--fa fa-cloud fa-w-20" role="img" viewBox="0 0 640 512"><path fill="currentColor" d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4z"/></path></svg></i>`,
                "09": `<i style='position:absolute; left:2.5vw; top:3vh'><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cloud-sun-rain" class="svg-inline--fa fa-cloud-sun-rain fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M510.5 225.5c-6.9-37.2-39.3-65.5-78.5-65.5-12.3 0-23.9 3-34.3 8-17.4-24.1-45.6-40-77.7-40-53 0-96 43-96 96 0 .5.2 1.1.2 1.6C187.6 233 160 265.2 160 304c0 44.2 35.8 80 80 80h256c44.2 0 80-35.8 80-80 0-39.2-28.2-71.7-65.5-78.5zm-386.4 34.4c-37.4-37.4-37.4-98.3 0-135.8 34.6-34.6 89.1-36.8 126.7-7.4 20-12.9 43.6-20.7 69.2-20.7.7 0 1.3.2 2 .2l8.9-26.7c3.4-10.2-6.3-19.8-16.5-16.4l-75.3 25.1-35.5-71c-4.8-9.6-18.5-9.6-23.3 0l-35.5 71-75.3-25.1c-10.2-3.4-19.8 6.3-16.4 16.5l25.1 75.3-71 35.5c-9.6 4.8-9.6 18.5 0 23.3l71 35.5-25.1 75.3c-3.4 10.2 6.3 19.8 16.5 16.5l59.2-19.7c-.2-2.4-.7-4.7-.7-7.2 0-12.5 2.3-24.5 6.2-35.9-3.6-2.7-7.1-5.2-10.2-8.3zm69.8-58c4.3-24.5 15.8-46.4 31.9-64-9.8-6.2-21.4-9.9-33.8-9.9-35.3 0-64 28.7-64 64 0 18.7 8.2 35.4 21.1 47.1 11.3-15.9 26.6-28.9 44.8-37.2zm330.6 216.2c-7.6-4.3-17.4-1.8-21.8 6l-36.6 64c-4.4 7.7-1.7 17.4 6 21.8 2.5 1.4 5.2 2.1 7.9 2.1 5.5 0 10.9-2.9 13.9-8.1l36.6-64c4.3-7.7 1.7-17.4-6-21.8zm-96 0c-7.6-4.3-17.4-1.8-21.8 6l-36.6 64c-4.4 7.7-1.7 17.4 6 21.8 2.5 1.4 5.2 2.1 7.9 2.1 5.5 0 10.9-2.9 13.9-8.1l36.6-64c4.3-7.7 1.7-17.4-6-21.8zm-96 0c-7.6-4.3-17.4-1.8-21.8 6l-36.6 64c-4.4 7.7-1.7 17.4 6 21.8 2.5 1.4 5.2 2.1 7.9 2.1 5.5 0 10.9-2.9 13.9-8.1l36.6-64c4.3-7.7 1.7-17.4-6-21.8zm-96 0c-7.6-4.3-17.4-1.8-21.8 6l-36.6 64c-4.4 7.7-1.7 17.4 6 21.8 2.5 1.4 5.2 2.1 7.9 2.1 5.5 0 10.9-2.9 13.9-8.1l36.6-64c4.3-7.7 1.7-17.4-6-21.8z"/></path></svg></i>`,
                "10": `<ion-icon name="rainy-outline" style='position: absolute; width:150px; height:150px; left:2.5vw; top:3vh'></ion-icon>`,
                "11": `<ion-icon name="thunderstorm-outline" style='position: absolute; width:150px; height:150px; left:2.5vw; top:3vh'></ion-icon>`,
                "13": `<i style='position:absolute; left:2.5vw; top:3vh'><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" aria-hidden="true" focusable="false" data-prefix="far" data-icon="snowflake" class="svg-inline--fa fa-snowflake fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M440.1 355.2l-39.2-23 34.1-9.3c8.4-2.3 13.4-11.1 11.1-19.6l-4.1-15.5c-2.2-8.5-10.9-13.6-19.3-11.3L343 298.2 271.2 256l71.9-42.2 79.7 21.7c8.4 2.3 17-2.8 19.3-11.3l4.1-15.5c2.2-8.5-2.7-17.3-11.1-19.6l-34.1-9.3 39.2-23c7.5-4.4 10.1-14.2 5.8-21.9l-7.9-13.9c-4.3-7.7-14-10.3-21.5-5.9l-39.2 23 9.1-34.7c2.2-8.5-2.7-17.3-11.1-19.6l-15.2-4.1c-8.4-2.3-17 2.8-19.3 11.3l-21.3 81-71.9 42.2v-84.5L306 70.4c6.1-6.2 6.1-16.4 0-22.6l-11.1-11.3c-6.1-6.2-16.1-6.2-22.2 0l-24.9 25.4V16c0-8.8-7-16-15.7-16h-15.7c-8.7 0-15.7 7.2-15.7 16v46.1l-24.9-25.4c-6.1-6.2-16.1-6.2-22.2 0L142.1 48c-6.1 6.2-6.1 16.4 0 22.6l58.3 59.3v84.5l-71.9-42.2-21.3-81c-2.2-8.5-10.9-13.6-19.3-11.3L72.7 84c-8.4 2.3-13.4 11.1-11.1 19.6l9.1 34.7-39.2-23c-7.5-4.4-17.1-1.8-21.5 5.9l-7.9 13.9c-4.3 7.7-1.8 17.4 5.8 21.9l39.2 23-34.1 9.1c-8.4 2.3-13.4 11.1-11.1 19.6L6 224.2c2.2 8.5 10.9 13.6 19.3 11.3l79.7-21.7 71.9 42.2-71.9 42.2-79.7-21.7c-8.4-2.3-17 2.8-19.3 11.3l-4.1 15.5c-2.2 8.5 2.7 17.3 11.1 19.6l34.1 9.3-39.2 23c-7.5 4.4-10.1 14.2-5.8 21.9L10 391c4.3 7.7 14 10.3 21.5 5.9l39.2-23-9.1 34.7c-2.2 8.5 2.7 17.3 11.1 19.6l15.2 4.1c8.4 2.3 17-2.8 19.3-11.3l21.3-81 71.9-42.2v84.5l-58.3 59.3c-6.1 6.2-6.1 16.4 0 22.6l11.1 11.3c6.1 6.2 16.1 6.2 22.2 0l24.9-25.4V496c0 8.8 7 16 15.7 16h15.7c8.7 0 15.7-7.2 15.7-16v-46.1l24.9 25.4c6.1 6.2 16.1 6.2 22.2 0l11.1-11.3c6.1-6.2 6.1-16.4 0-22.6l-58.3-59.3v-84.5l71.9 42.2 21.3 81c2.2 8.5 10.9 13.6 19.3 11.3L375 428c8.4-2.3 13.4-11.1 11.1-19.6l-9.1-34.7 39.2 23c7.5 4.4 17.1 1.8 21.5-5.9l7.9-13.9c4.6-7.5 2.1-17.3-5.5-21.7z"/></path></svg></i>`,
                "50": `<i style='position:absolute; left:2.5vw; top:3vh'><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="smog" class="svg-inline--fa fa-smog fa-w-20" role="img" viewBox="0 0 640 512"><path fill="currentColor" d="M624 368H80c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-480 96H16c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h128c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm416 0H224c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h336c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zM144 288h156.1c22.5 19.7 51.6 32 83.9 32s61.3-12.3 83.9-32H528c61.9 0 112-50.1 112-112S589.9 64 528 64c-18 0-34.7 4.6-49.7 12.1C454 31 406.8 0 352 0c-41 0-77.8 17.3-104 44.8C221.8 17.3 185 0 144 0 64.5 0 0 64.5 0 144s64.5 144 144 144z"></path></svg></i>`
            }
            $.ajax({
                url: "http://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=e30c70d1d9ee1045d773798f2cdabbbb&units=metric",
                dataType: "json",
                type: "GET",
                success: function (data) {
                    var $Temp = Math.floor(data.main.temp);
                    var $humi = data.main.humidity;
                    $("#weather").html(
                        weatherIcon[$Icon] + `
                    <div style='font-size:1.5em; position: absolute; left:13vw; top:6.5vh'>온도 : `+ $Temp + ` °C</div>
                    <div style='font-size:1.5em; position: absolute; left:13vw; top:12.5vh'>습도 : `+ $humi + ` %</div>
                    `)
                }
            })

            if ("<%=run%>" == "true") {
                start()
            }
        })
        var set = "";
        function clicked(c) {
            set = c;
        }
        function add(char) {
            $(set).append(char)
        }
        function reset() {
            $(set).text("")
        }
        function del() {
            var c = document.getElementById(set.slice(1)).innerText
            $(set).text(c.slice(0, -1))
        }
        $(".display").click(function (e) {
            $("#keyboard").css("left", e.pageX + "px")
            $("#keyboard").css("top", e.pageY + "px")
            $("#keyboard").show()
        })
        $("#ok").click(function () {
            $("#keyboard").hide()
        })

        $(".modal_btn").click(function () {
            $(".modal_wrap").css("display", "block")
            $(".black_bg").css("display", "block")
        })

        $(".modal_close").click(function () {
            $(".modal_wrap").css("display", "none")
            $(".black_bg").css("display", "none")
        })
        function modal(name) {
            if (name == "melt") {
                $("#ucl").text((parseFloat("<%=melt[0]%>") + 2 * parseFloat("<%=melt[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=melt[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=melt[0]%>") - 2 * parseFloat("<%=melt[1]%>")).toFixed(2))
                $(".modal_name").text("용융온도")
            } else if (name == "mold") {
                $("#ucl").text((parseFloat("<%=mold[0]%>") + 2 * parseFloat("<%=mold[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=mold[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=mold[0]%>") - 2 * parseFloat("<%=mold[1]%>")).toFixed(2))
                $(".modal_name").text("금형온도")
            } else if (name == "hold") {
                $("#ucl").text((parseFloat("<%=hold[0]%>") + 2 * parseFloat("<%=hold[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=hold[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=hold[0]%>") - 2 * parseFloat("<%=hold[1]%>")).toFixed(2))
                $(".modal_name").text("보압")
            } else {
                $("#ucl").text((parseFloat("<%=inj[0]%>") + 2 * parseFloat("<%=inj[1]%>")).toFixed(2))
                $("#cl").text(parseFloat("<%=inj[0]%>").toFixed(2))
                $("#lcl").text((parseFloat("<%=inj[0]%>") - 2 * parseFloat("<%=inj[1]%>")).toFixed(2))
                $(".modal_name").text("사출속도")
            }
        }

        $("#register").click(function () {
            var name = $(".modal_name").text();
            var set = $("#set").val();
            location.href = "/register?name=" + name + "&set=" + set
        })

    </script>

</body>

</html>