<!DOCTYPE html>
<html>
  <head>
    <%- include("./head.ejs") %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">

    <style>
      .table {
        width: 86vw;
        text-align: center;
        background-color: rgb(173, 185, 202);
      }

      .input-group {
        width: 15.5vw;
        text-align: center;
        background-color: rgb(173, 185, 202);
      }

      .input-group2{
        width: 18vw;
        text-align: center;
        background-color: rgb(173, 185, 202);
      }
/* 
      .wrapper {
        height: 15vh;
        width: 90vw;
        background-color: rgba(199, 202, 241, 0.308);
        ;
      } */

      #instruct_icon {
        background-color: var(--first-color);
      }

      /* .input-group-text {
        border-radius: 0;
        width: 20vw;
        height: 6vh;
      }

      .form-control {
        border-radius: 0;
      } */

      #instruct_icon {
        background-color: var(--first-color);
      }

      .modal_wrap2 {
        display: none;
        position: absolute;
        top: 25vh;
        left: 40%;
        width: 420px;
        height: 280px;
        position: absolute;
        background: rgb(210, 215, 221);
        z-index: 10;
      }
     
      .black_bg, .black_bg2 {
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 1;
      }

      /* .modal_close2, .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
      } */

      .modal_close>a,.modal_close2>a {
        display: block;
        /* width: 5vw;
        height: 5vh; */
        width: 100%;
        height: 100%;
        background: url(https://img.icons8.com/metro/26/000000/close-window.png);
        /* text-indent: 2.5vw; */
        text-indent: -9999px;
      }

      form {
      width: 500px;
      }
      table {
        border-collapse:collapse;
        margin-bottom: 10px;
      }
      .off-screen {
        display: none;
      }
      #nav {
        width: 500px;
        text-align: center;
      }
      #nav a {
        display: inline-block;
        padding: 3px 5px;
        margin-right: 10px;
        font-family:Tahoma;
        background: #ccc;
        color: #000;
        text-decoration: none;
      }
      #nav a.active {
        background: #333;
        color: #fff;
      }
    </style>
  </head>

  <body style="background-color: rgb(41, 43, 48); overflow-y:hidden">
    
      <!-- 상단바 -->
      <div class="wrapper_nav" style="position: absolute; top:5vh; left:6vw;">
        <div div class="font_nav">수주조회</div>
      
        <div class="input-group mb-3" style="position: absolute; left:13vw; top:5vh">
          <label class="input-group-text" for="inputGroupSelect01" style="width:6vw">거래처</label>
          <select class="form-select" id="search_c">
            <option value=""></option>
            <option value="삼성전자">삼성전자</option>
            <option value="LG전자">LG전자</option>
            <option value="카카오">카카오</option>
            <option value="네이버">네이버</option>
          </select>
        </div>
      
        <div class="input-group mb-3" style="position: absolute; left:30vw; top:5vh">
          <label class="input-group-text" for="inputGroupSelect01" style="width:6vw">품목명</label>
          <select class="form-select" id="search_i">
            <option value=""></option>
            <option value="bricks_rect">bricks_rect</option>
            <option value="bricks_square">bricks_square</option>
            <option value="circle">circle</option>
            <option value="floor">floor</option>
          </select>
        </div>
      
        <div class="input-group mb-3" style="position: absolute; left:47vw; top:5vh">
          <label class="input-group-text" for="inputGroupSelect01" style="width:7vw">수주일자</label>
          <input type="text" class="datepicker wdate" id="_date_o" style="width:8.5vw;">
        </div>
        <div align="center">
        </div>
      
        <div class="input-group mb-3" style="position: absolute; left:64vw; top:5vh">
          <label class="input-group-text" for="inputGroupSelect01" style="width:7vw">납기일자</label>
          <input type="text" class="datepicker wdate" id="_date_d" style="width:8.5vw;">
        </div>
        <div align="center">
        </div>
      
      </div>
      <button class="btn btn-warning" onclick="search()" style="position:absolute; top:10.5vh; right: 5vw;">조회</button>
  
    

    <!-- 상단바하단 -->
    <button type="submit" class="btn btn-success modal_btn" style="position:absolute; top:22.5vh; right: 11vw;"
      id="register">등록</button>
    <button class="btn btn-danger " style="position:absolute; top: 22.5vh; right:5vw;" onclick="del()">삭제</button>
    </div>


    <!-- 테이블 목록 -->
    <div style="position: absolute; top:30vh; left:7vw; color:white; text-align: center;">
      <table id="iTable" class="table table-bordered table-hover" style=" text-align: center; color:white; background-color: rgba(95, 100, 126, 0.699);">
        <thead style="background-color: rgba(199, 202, 241, 0.308); height:4vh;">
          <tr>
            <th scope="col" style="width: 2vw;"><input type="checkbox" id="checkAll" name="_selected_all_"></th>
            <th scope="col" style="width: 8vw;">수주번호</th>
            <th scope="col" style="width: 7vw;">거래처</th>
            <th scope="col" style="width: 10vw;">품목명</th>
            <th scope="col" style="width: 8vw;">주문수량</th>
            <th scope="col" style="width: 10vw;">수주일자</th>
            <th scope="col" style="width: 10vw;">납기일자</th>
            <th scope="col" style="width: 10vw;">생성자</th>
            <th scope="col" style="width: 10vw;">수정자</th>
            <th scope="col" style="width: 10vw;">수정일</th>
            <th scope="col" style="width: 10vw;">수정</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < orders.length; i++) {%>
            <tr>
              <td><input type="checkbox" id="del_row" class="chk" name="_selected_" value="<%=orders[i].orders_id%>"></td>
              <td><%=orders[i].orders_id%></td>
              <td><%=orders[i].cust_name%></td>
              <td><%=orders[i].lego_name%></td>
              <td><%=orders[i].orders_qty%></td>
              <td><%=orders[i].orders_date%></td>
              <td><%=orders[i].delivery_date%></td>
              <td><%=orders[i].cid%></td>
              <td><%=orders[i].mid%></td>
              <td><%=orders[i].date_m%></td>    
              <td><button type='button' class="btn btn-outline-secondary modal_btn2 btn-sm">수정</button></td>
            </tr>
            <%}%>
        </tbody>
      </table>
      <div class="col-lg-12" id="tr_id"></div>
    </div>
     

    <!---- 수정 모달창 ---->
    <div class="black_bg"></div>
    <div class="modal_wrap2 modal_name" style="height:5vh; top:20vh; background-color: rgb(151, 161, 170);">수정</div>
    <div class="modal_wrap2" style="height: 380px">
      <div class="modal_box1" style="top:5vh">거래처</div>
      <input type="text" class="modal_box2" id="_custname_M" style="top:5vh; background-color: rgba(119, 119, 119, 0.24);" disabled>
      <div class="modal_box1" style="top:11.4vh">품목ID</div>
      <input type="text" class="modal_box2" id="_legoname_M" style="top:11.4vh; background-color: rgba(119, 119, 119, 0.24);" disabled>
      <div class="modal_box1" style="top:17.8vh">주문수량</div>
      <input type="text" class="modal_box2" id="_quantity_M" style="top:17.8vh">
      <div class="modal_box1" style="top: 24.2vh">수주일자</div>
      <input type="text" class="modal_box2" name="_date" id="_date_o_M" style="top: 24.2vh; background-color: rgba(119, 119, 119, 0.24);" disabled>  
      <div class="modal_box1" style="top:30.6vh">납기일자</div>
      <input type="text" class="modal_box2 datepicker" name="_date" id="_date_d_M" style="top: 30.6vh">
      <div class="modal_box1" style="top: 37vh">수정자</div>
      <input type="text" class="modal_box2" id="_cid_M" style="top: 37vh;">
      <div align="center">
        <button class="btn btn-secondary" style="position:absolute; bottom: 2vh; left: 9vw; width:4.6vw; 
        height:5.6vh; font-size:large; line-height: 4vh;" onclick=orders_modify()>수정</button>
        <button class="btn btn-secondary modal_close2"  style="position:absolute; bottom: 2vh; right: 9vw;
        width:4.6vw; height:5.6vh; display:inline-block; text-indent: 0px; line-height: 4vh; font-size:large">취소</button>
      </div>
    </div>
    
    

    <!---- 등록모달창 ---->
    <div class="black_bg"></div>
    <div class="modal_wrap modal_name" style="height:5vh; top: 20vh; background-color: rgb(151, 161, 170);">등록</div>
    <div class="modal_wrap" style="height:380px;">
      <div class="modal_box1" style="top:5vh">거래처</div>
      <select class="modal_box2" id="_custname_S" style="top:5vh;">
        <option value=""></option>
        <option value="삼성전자">삼성전자</option>
        <option value="LG전자">LG전자</option>
        <option value="카카오">카카오</option>
        <option value="네이버">네이버</option>
      </select>  
      <div class="modal_box1" style="top:11.4vh">품목ID</div>
      <select class="modal_box2" id="_legoname_S" style="top:11.4vh;">
        <option value=""></option>
        <option value="bricks_rect">bricks_rect</option>
        <option value="bricks_square">bricks_square</option>
        <option value="circle">circle</option>
        <option value="floor">floor</option>
      </select>  
      <div class="modal_box1" style="top:17.8vh">주문수량</div>
      <input type="text" class="modal_box2" id="_quantity_S" style="top:17.8vh">
      <div class="modal_box1" style="top: 24.2vh">수주일자</div>
      <input type="text" class="modal_box2 datepicker" name="_date" id="_date_o_S" style="top: 24.2vh">  
      <div class="modal_box1" style="top:30.6vh">납기일자</div>
      <input type="text" class="modal_box2 datepicker" name="_date" id="_date_d_S" style="top: 30.6vh">
      <div class="modal_box1" style="top: 37vh">생성자</div>
      <input type="text" class="modal_box2" id="_cid_S" style="top: 37vh;">

      <div align="center">
        <button  class="btn btn-secondary" style="position:absolute; bottom: 2vh; left: 9vw; width:4.6vw; 
        height:5.6vh; font-size:large; line-height: 4vh;" onclick=orders_submit()>등록</button>
        <button  class="btn btn-secondary modal_close" style="position:absolute; bottom: 2vh; right: 9vw;
        width:4.6vw; height:5.6vh; display:inline-block; text-indent: 0px; line-height: 4vh; font-size:large">취소</button>
      </div>
    </div>
      
   
    
    <!-- 페이지 넘김 숫자 -->
    <div id="nav" style="position:absolute; top:90vh; left:35vw;">
      <a href="#" rel="0" class="active">1</a>
      <a href="#" rel="1">2</a>
      <a href="#" rel="2">3</a>
      <a href="#" rel="3">4</a>
    </div>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190,,,.js"></script>
    <script src="https:// cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
    <script id="rendered-js">
      var $setRows = $('#setRows');
      $setRows.submit(function (e) {
        e.preventDefault();
        var rowPerPage = $('[name="rowPerPage"]').val() * 1;// 1 을  곱하여 문자열을 숫자형로 변환
        //		console.log(typeof rowPerPage);
        var zeroWarning = 'Sorry, but we cat\'t display "0" rows page. + \nPlease try again.'
        if (!rowPerPage) {
          alert(zeroWarning);
          return;
        }
        $('#nav').remove();
        var $products = $('#products');
        $products.after('<div id="nav">');
        var $tr = $($products).find('tbody tr');
        var rowTotals = $tr.length;
        //	console.log(rowTotals);
        var pageTotal = Math.ceil(rowTotals / rowPerPage);
        var i = 0;
        for (; i < pageTotal; i++) {
          $('<a href="#"></a>')
            .attr('rel', i)
            .html(i + 1)
            .appendTo('#nav');
        }
        $tr.addClass('off-screen')
          .slice(0, rowPerPage)
          .removeClass('off-screen');
        var $pagingLink = $('#nav a');
        $pagingLink.on('click', function (evt) {
          evt.preventDefault();
          var $this = $(this);
          if ($this.hasClass('active')) {
            return;
          }
          $pagingLink.removeClass('active');
          $this.addClass('active');
          // 0 => 0(0*4), 4(0*4+4)
          // 1 => 4(1*4), 8(1*4+4)
          // 2 => 8(2*4), 12(2*4+4)
          // 시작 행 = 페이지 번호 * 페이지당 행수
          // 끝 행 = 시작 행 + 페이지당 행수
          var currPage = $this.attr('rel');
          var startItem = currPage * rowPerPage;
          var endItem = startItem + rowPerPage;
          $tr.css('opacity', '0.0')
            .addClass('off-screen')
            .slice(startItem, endItem)
            .removeClass('off-screen')
            .animate({ opacity: 1 }, 300);
        });
        $pagingLink.filter(':first').addClass('active');
      });
      $setRows.submit();
    </script>
  
    <script>
      var id;
      $(function () {
        if ("<%=linkcode%>" == 0) {
          $("#linkcode").text("관리자")
        } else {
          $("#linkcode").text("작업자")
        }
      });

      $("input").keyup(function () {
        var manager = $("#manager").val();
        var quantity = $("#quantity").val();
        var date = $(".wdate").val();

        if (manager && quantity && date) {
          $("#register").removeAttr("disabled")
        } else {
          $("#register").attr("disabled", "disabled")
        }
      })

      // 수주관리 삭제
      function del() {
        var checkBoxArr = [];
        if($("input[name='_selected_all_']:checked").length == 1 
        && $("input:checkbox[name='_selected_']:checked").length == 0){
          alert("삭제불가능");
        }else{
          $("input:checkbox[name='_selected_']:checked").each(function () {
          checkBoxArr.push($(this).val()); //체크된 값 뽑아서 push
        })
          if (confirm("삭제 하시겠습니까?")) {
            alert("삭제되었습니다.");
            location.href = "/orderS/del?_id=" + checkBoxArr
          }
        }
      }

      // 수주관리 등록
      function orders_submit(){
        var c = $("#_custname_S").val();
        var l = $("#_legoname_S").val();
        var q = $("#_quantity_S").val();
        var o = $("#_date_o_S").val();
        var d = $("#_date_d_S").val();
        var ci = $("#_cid_S").val();

        location.href = "/orderS/submit?_custname="+c+"&_legoname="+l+"&_quantity="+q+"&_date_o="+o+"&_date_d="+d+"&_cid="+ci
      }
      // 수주 수정
      function orders_modify(){
        var _id = id
        var qm = $("#_quantity_M").val();
        var dm = $("#_date_d_M").val();
        var cm = $("#_cid_M").val();

        location.href = "/orderS/modify?_quantity="+qm+"&_date_d="+dm+"&_mid="+cm+"&_id="+_id
      }

      // 전체선택 버튼 클릭시 체크박스 전체 선택
      $("#checkAll").click(function () {
        if ($("#checkAll").is(":checked")) {
          $(".chk").prop("checked", true);
        } else {
          $(".chk").prop("checked", false);
        }
      })
      // 전체선택 중 한개의 체크박스 선택 해제 시 체크박스 해제
      $(".chk").click(function () {
        if ($("input[name='_selected_']:checked").length == iTable.rows.length) {
          $("#checkAll").prop("checked", true);
        } else {
          $("#checkAll").prop("checked", false);
        }
      });

      // 모달
      $(".modal_btn").click(function () {
        $(".modal_wrap").css("display", "block")
        $(".black_bg").css("display", "block")
        $(".modal_btn2").attr("disabled", true)
      })

      $(".modal_close").click(function () {
        $(".modal_wrap").css("display", "none")
        $(".black_bg").css("display", "none")
        $(".modal_btn2").attr("disabled", false)
      })

      $(".modal_btn2").click(function () {
        $(".modal_btn").attr("disabled", true)
        var tr = $(this).parent().parent()
        var td = tr.children()

        $("#_custname_M").val(td.eq(2).text())
        $("#_legoname_M").val(td.eq(3).text())
        $("#_quantity_M").val(td.eq(4).text())
        $("#_date_o_M").val(td.eq(5).text())
        $("#_date_d_M").val(td.eq(6).text())
        $("#_cid_M").val(td.eq(7).text())

        $(".modal_wrap2").css("display", "block")
        $(".black_bg2").css("display", "block")
      })

      $(".modal_close2").click(function () {
        $(".modal_wrap2").css("display", "none")
        $(".black_bg2").css("display", "none")
        $(".modal_btn").attr("disabled", false)
      })
      
      //달력(날짜 1개 선택)
      $(".datepicker").datepicker({
        dateFormat: "yy-mm-dd",
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
        dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
        changeMonth: true,
        changeYear: true,
        nextText: '다음달',
        prevText: '이전달',
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true
      });

      // 수주관리 검색
      function search() {
        $("tbody").html("");
        $.getJSON("/orderS/search", {
          search_c : $("#search_c").val(),
          search_i : $("#search_i").val(),
          _date_o : $("#_date_o").val(),
          _date_d : $("#_date_d").val()
        },
          function (result) {
            var body;
            for (var i = 0; i < result.orders.length; i++) {
              body += "<tr>"
              body += "<td><input type='checkbox' id='del_row' class='chk' name='_selected_'></td>"
              for (key in result.orders[0]) {
                body += "<td>" + result.orders[i][key] + "</td>"
              }
              body += "<td><button type='button' class='btn btn-outline-secondary modal_btn2 btn-sm'>수정</button></td>"
              body += "</tr>"
            }
            $("tbody").html(body)
          })
      }
      $("#iTable tr").click(function(){
        var tr = $(this)
        var td = tr.children()
        id = td.eq(1).text()
        $("#_custname_M").val(td.eq(2).text())
        $("#_legoname_M").val(td.eq(3).text())
        $("#_quantity_M").val(td.eq(4).text())
        $("#_date_o_M").val(td.eq(5).text())
        $("#_date_d_M").val(td.eq(6).text())
        $("#_cid_M").val(td.eq(7).text())
        $(".modal_wrap2").css("display", "block")
        $(".black_bg2").css("display", "block")
      })


    </script>
  </body>
</html>