<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script src="/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui.css">
       
        
        <style>
            /* .wrapper_nav{
                height:10vh;
                width:92.5vw;
                background-color: rgba(199, 202, 241, 0.308);
            } */
            .input-group{
                width: 25vw;
                text-align: center;
                background-color: rgb(173, 185, 202);
            } 
            #product_icon {
                background-color: var(--first-color);
            }
            
        </style>
    </head>
    <body style="background-color: black; overflow-y:hidden">
        <div class="wrapper_nav" style="position: absolute; top:5vh; left:6vw">
            <div class="font_nav">작업실적조회</div>
            <div class="input_nav" style="top:2.5vh; left:17vw;" for="inputGroupSelect01">품목명</div>
            <select class="form-select text select" id="product_i" name="search_i" style="top:2.5vh; left:24vw;">
                <option value=""></option>
                <option value="bricks_rect">bricks_rect</option>
                <option value="bricks_square">bricks_square</option>
                <option value="circle">circle</option>
                <option value="floor">floor</option>
            </select>

            <div class="input_nav" style="top:2.5vh; left:47vw;" for="inputGroupSelect01">작업 날짜</div>
            <input type="text" class="datepicker wdate text" id="product_d" name="_date"
                style="top:2.5vh; left:54vw; width:15vw; height: 5vh;">

            <button class="btn btn-outline-secondary" onclick="search()" style="position:absolute; top:2.5vh; right:10vw">조회</button>
            <button class="btn btn-outline-secondary" onclick="reset()" style="position:absolute; top:2.5vh; right:2vw">검색 초기화</button>
        </div>
        <div class="tableb" style="top:17vh; left:6vw;">
            <table class="table table-bordered table-responsive">
                <thead  class="thead">
                    <tr>
                        <th scope="col" style="width: 12vw;">작업지시번호</th>
                        <th scope="col" style="width: 17.5vw;">작업일</th>
                        <th scope="col" style="width: 13vw;">품목명</th>
                        <th scope="col" style="width: 13vw;">생산수량</th>
                        <th scope="col" style="width: 12vw;">양품수량</th>
                        <th scope="col" style="width: 12vw;">불량품수량</th>
                        <th scope="col" style="width: 13vw;">담당자</th>
                    </tr>
                </thead>
                <tbody id="tbody2">
                    <% for(var i=0; i < performance.length; i++) {%>
                        <tr>
                            <td>
                                <%=performance[i].order_id%>
                            </td>
                            <td>
                                <%=performance[i].date%>
                            </td>
                            <td>
                                <%=performance[i].lego_name%>
                            </td>
                            <td>
                                <%=performance[i].quantity%>
                            </td>
                            <td>
                                <%=performance[i].qty_good%>
                            </td>
                            <td>
                                <%=performance[i].qty_def%>
                            </td>
                            <td>
                                <%=performance[i].manager%>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>                
            </ul>
            </nav>           
        </div>

        <nav aria-label="Page navigation example" >
            <ul class="pagination justify-content-center" style="page-break-inside: avoid; position:absolute; bottom:-5vh; left: 40%; width:4.6vw; 
            height:5.6vh;">


        

        <script>
            //달력
            $("input").keyup(function(){
                var manager = $("#manager").val();
                var quantity = $("#quantity").val();
                var date = $(".wdate").val();
                
                
                if(manager && quantity && date){    
                    $("#register").removeAttr("disabled")
                }else{
                    $("#register").attr("disabled", "disabled")
                }
            })
            $(".datepicker").datepicker({
                dateFormat : "yy-mm-dd",
                monthNames : ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                monthNamesShort : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                dayNamesMin : ['월','화','수','목','금','토','일'],
                changeMonth : true,
                changeYear : true,
                nextText : '다음달',
                prevText : '이전달',
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true
            });

            function search(){
                $("#tbody2").html("");
                $.getJSON("/product/search", {
                    product_i : $("#product_i").val(),
                    product_d : $("#product_d").val()
                },
                function(result){
                    var body;
                    for(var i=0; i<result.performance.length; i++){
                        body += "<tr>"
                        for (key in result.performance[0]){
                            if(key=="pp_id"){
                                continue
                            }
                            body += "<td>"+result.performance[i][key]+"</td>"
                            
                        }
                        body += "</tr>"
                    }
                    $("#tbody2").html(body)
                })
            }

        function reset(){
            $("#tbody2").html("")
            $("#product_d").val("")
            $("#product_i option:eq(0)").prop("selected", true)
            $.getJSON("/product/reset",
            function(result){ 
              var body;
              for(var i=0; i<result.performance.length; i++){
                body += "<tr>"
                  for (key in result.performance[0]){
                    if(key=="pp_id"){
                            continue
                    }
                    body += "<td>"+result.performance[i][key]+"</td>"
                  }
                body += "</tr>"
              }
              $("#tbody2").html(body)
            }
            )
        }
        //페이징
        function pagination(){
		var req_num_row=10;
		var $tr=jQuery('#tbody2 tr');
		var total_num_row=$tr.length;
		var num_pages=0;
		if(total_num_row % req_num_row ==0){
			num_pages=total_num_row / req_num_row;
		}
		if(total_num_row % req_num_row >=1){
			num_pages=total_num_row / req_num_row;
			num_pages++;
			num_pages=Math.floor(num_pages++);
		}
  
        jQuery('.pagination').append("<li class='page-item prev'><a class='page-link'>&laquo;</a></li>");
  
		for(var i=1; i<=num_pages; i++){
			jQuery('.pagination').append("<li class='page-item'><a class='page-link'>"+i+"</a></li>");
            jQuery('.pagination li:nth-child(2)').addClass("active");
            jQuery('.pagination a').addClass("pagination-link");
		}
  
        jQuery('.pagination').append("<li class='page-item next'><a class='page-link'>&raquo;</a></li>");
  
		$tr.each(function(i){
        jQuery(this).hide();
        if(i+1 <= req_num_row){
				$tr.eq(i).show();
			}
		});
  
		jQuery('.pagination a').click('.pagination-link', function(e){
			e.preventDefault();
			$tr.hide();
			var page=jQuery(this).text();
			var temp=page-1;
			var start=temp*req_num_row;
            var current_link = temp;
      
            jQuery('.pagination li').removeClass("active");
			jQuery(this).parent().addClass("active");
    
			for(var i=0; i< req_num_row; i++){
				$tr.eq(start+i).show();
			}
      
        if(temp >= 1){
        jQuery('.pagination li:first-child').removeClass("disabled");
        }
        else {
        jQuery('.pagination li:first-child').addClass("disabled");
        }            
		});
  
        jQuery('.prev').click(function(e){
          e.preventDefault();
          jQuery('.pagination li').removeClass("active");
          jQuery('.pagination li:first-child').next().addClass("active");
          $tr.hide();

          var page=jQuery(this).next().text();
          var temp=page-1;
          var start=temp*req_num_row;
                var current_link = temp;
        
          for(var i=0; i< req_num_row; i++){
            $tr.eq(start+i).show();
          }
        });

        jQuery('.next').click(function(e){
          e.preventDefault();
          jQuery('.pagination li').removeClass("active");
          jQuery('.pagination li:last-child').prev().addClass("active");
          
          $tr.hide();

          var page=jQuery(this).prev().text();
          var temp=page-1;
          var start=temp*req_num_row;
                var current_link = temp;
        
          for(var i=0; i< req_num_row; i++){
            $tr.eq(start+i).show();
          }
        });

	    }

        jQuery('document').ready(function(){
	    pagination();
  
        jQuery('.pagination li:first-child').addClass("disabled");
  

        });


        </script>
    </body>
</html>